<h1 class="off">A Traditional Understanding</h1><br>

Beauty seduces many to pursue healthful measures.  The quest for beauty and
longevity is universal and has prevailed throughout the ages. Preoccupation
with youth, appearance, and longevity is certainly not the exclusive domain
of citizens of the modern Western world.  Before the Warring States period
of Chinese history (475–221 BC) having acupuncture treatment for cosmetic
concerns was primarily a luxury, generally reserved for the Empress and the
imperial concubines to initiate the healing process for rejuvenation and
longevity.  Currently in China you will find an acupuncture department in
most hospitals and universities, referred to in Mandarin as mei rong. <br>
<br>

<!-- La belleza seduce a muchos a perseguir un estilo de vida más saludable. La
búsqueda de la belleza y la longevidad es universal y ha prevalecido a lo largo
de la historia. La juventud, la apariencia y la juventud no es una preocupación
exclusiva de los ciudadanos de occidente moderno.  Durante el periodo de estados
guerreros chinos (475–221 BC) recibir la acupuntura por motivos estéticos era un
lujo que solo era reservado a emperatrices y las concubinas para cuidar y mantener
su apariencia estética.  Actualmente en China existen departamentos de acupuntura
en universidades y hospitales, conocidos como mei rong en Mandarín. <br> -->

<br>
<%= image_tag("yinyang", :class => "style_image3") %><br>
<br>
According to the classic chinese texts Nei Jing, the hair and skin, including the
complexion, are related to the state of the internal zang fu organs. The condition
of the hair is governed by the kidneys and the lung rules the skin. <br>

<!-- Según los textos clásicos de la MTC (Nei Jing), el cabello y la piel, incluyendo
la complexión, están relacionados con el estado de los órganos internos (zang fu).
El estado del cabello esta regido por los riñones y los pulmones están
estrechamente  vinculados con el buen funcionamiento de la piel. <br> -->
<br>
<br>
<h1 id="MTC", class="off">The Relation Between the Chinese Meridians and Their Respective Organs</h1> <br>
<%= image_tag("face areas", :class => "style_image4") %>

Thousands of years ago the Chinese discovered that many meridians either commence
or terminate on the face and some have internal branches that go to the face,
correlating the relationship of health and appearance. Changes and deterioration
in the skin, muscle tone, and sense organs reflect the state of thezang fu, qi,
blood, yin and yang.<br>
<br>
<!-- Hace más de mil años los expertos en medicina china descubrieron que<br> la mayor
parte de los meridianos o comienzan o terminan en el rostro y algunos de ellos
tienen ramas internas que conducen al rostro, uniendo estrechamente la relación
entre salud y apariencia. Los cambios y deterioro en la piel y tono muscular
reflejan el estado de los órganos (zang fu), la sangre en incluso el yin y yang. -->



As the partner of the lung, the large intestine also affects the skin profoundly
and thus many points on the large intestine meridian are used for affecting the
skin of the face. The stomach meridian traverses much of the face and is often
used to obtain local cosmetic effect. The stomach is the interior-exterior
partner to the spleen and accordingly these points help to tone the flesh
(the muscles and the fat underlying the skin). This communication of the lung
and the spleen (zang organs) and the stomach and the large intestine (fuorgans)
allows them to act synergistically and to substitute for each other in their
functions.<br>

<!-- Como pareja del pulmón, el intestino grueso también afecta a la piel profundamente,
así que se utilizan puntos de los meridianos del intestino grueso que afectan el
estado del rostro. El meridiano del estómago traviesa la mayor parte del rostro y
se usa en muchos casos para conseguir un efecto cosmético local. El estómago es la
pareja interior-exterior del bazo y sus puntos ayudan a tonificar los músculos y
las grasas subyacentes del rostro.  Esta comunicación del pulmón,  bazo (órganos
zang) y estómago e intestino (organos 'fu') les permite actuar de manera sinérgica
y sus funciones se pueden intercambiar de forma mutua. <br> -->


<br>
The condition of the hair is related to the state of the blood or kidney, the
thickness and shine of hair depends intrinsically on the lung. The tone of the
face reflects the state of qi and blood. Clear tone and a smooth facial
appearance indicates a healthy stomach qi. The different tones alert us and
inform us about the state of the internal organs, a yellow tone can indicate an
energetic deficiency of the spleen, for example. Some places on the face
indicate the state of certain organs depending on the brightness or color. Thus,
we see how the face can provide us with a lot information about the state of a
person's health. The outer beauty depends on the internal energy state, therefore
it is necessary to concentrate the treatment on the balance energy which will
provide lasting results.<br>
<br>
<!-- El estado del cabello está relacionado con el estado de la sangre o riñón, el
grosor y brillo del cabello depende intrínsecamente del pulmón.  El tono del
rostro refleja el estado del qi y de la sangre.  El tono claro y una apariencia
hidratada del rostro indica un Qi de estómago saludable.  Los distintos tonos nos
alertan e informan sobre el estado de los órganos internos, una tonalidad amarilla
puede indicar una insuficiencia energética del bazo, por ejemplo.  Algunas zonas
del rostro indican el estado de determinados órganos en función del brillo o color.
Así, vemos como el rostro puede proporcionarnos mucha información sobre el estado
de salud de una persona.  La belleza exterior depende del estado energético
interior, por esto es necesario concentrar el tratamiento sobre el equilibrio
energético lo que proporcionará resultados duraderos. <br> -->


<br>

<h1 class="off">The Mechanism of Acupuncture</h1><br>

As with regular acupuncture, points are chosen according to the constitution of
theindividual and specific needs at the time of treatment. The established
parameters of diagnosis and treatment strategy will generally apply when
practising FRA. Many local points on the face and head are also needled to
obtain the extra cosmetic effects. there is no risk or adverse side effects.
<br>

<!-- Como en la acupuntura tradicional, los puntos son elegidos en el momento del
tratamiento según el individuo y sus respectivas necesidades. Se aplican los
parámetros establecidos del diagnóstico y la estrategia del tratamiento en la
acupuntura cosmética. Muchos puntos locales del rostro y de la cabeza también
son tratados para conseguir unos efectos cosméticos adicionales. <br> -->

<%= image_tag("capas-piel", :class => "style_image5") %><br>

Cosmetic acupuncture involves the stimulation and insertion through the skin of
small needles at certain specific points in areas of the face, neck, and other
parts of the body. The needles cause a contraction of the dermis (the inner
layer of the skin), the facial muscles are collected / toned and the skin is
stretched. Stimulating the emission of endorphins, neurotransmitters and the
activation of the nervous system.<br>

<!-- La acupuntura cosmética consiste en la estimulación e inserción, a través de la
piel de pequeñas agujas en ciertos puntos específicos en áreas del rostro, el
cuello, y otras partes del cuerpo.  Las agujas causan una contracción de la
dermis (la capa interna de la piel), los músculos faciales se contraen,
tonifican y se produce el estiramiento del cutis.  Estimulando la emisión de
endorfinas, neurotransmisores y la activación del sistema nervioso. <br> -->
<br>
