<h1 class="off">Comparison with other Treatments</h1> <br>

Until a few years ago, the alternative to eliminate wrinkles was botox, fillers,
chemical peels or cosmetic surgeries. Botox injections, collagen fillers, or
facelifts are the most frequent choices among people who want to try to minimize
the effects of time on their face. But the high cost of these treatments and the
risks associated with them puts many people off. Not everyone is willing to suffer
the postoperative inconveniences that they entail (plastic surgery is a method
that carries many risks and poor results) or to be placed in the hands of
beauticians whose preparation to administer such treatments is not always
adequate.
<br>
<br>
Botox acts to suppress the release of acetycholine, which can cause facial
paralysis. <br>
The plastic surgeon may remove the wrinkles and lines of the face, however,
you end up with a different face that usually looks very plastic and not at
all natural. <br>
<br>
<%= image_tag("TreatmentComparison2", :class => "style_image") %> <br>
*with maintenence sessions
<br><br>
Acupuncture is the perfect alternative for people who prefer to choose the most
natural way to take care of their appearance, thus avoiding all the negative side
effects that other therapies entail.<br>
<br><br>

<h1 class="off">How Many Sessions are Needed?</h1> <br>

Initially the treatment consists of 10-12 sessions; 2 sessions per week during
the first 3 weeks and then once a week. This cycle of treatment can be completed
in 2 months. After the cycle we evaluate the progress and whether or not there is
any need to continue with another cycle of treatment. <br>
<br>

You can come for individual sessions although the effects of facial rejuvenation
acupuncture are cumulative, therefore the optimal results are obtained after
several treatments. After the first session most people notice a greater toning
and more vitality in the face. However the first notable visible results are
usually seen after 3-6 treatments. An initial treatment cycle of 10-12 sessions
is recommended. If possible, 2 sessions per week for the first 3 weeks and then
a weekly session. This cycle of treatment can be done in approximately 2 months. <br>
<br>
After the initial cycle, the monthly maintenance treatments will prolong the
results for 5 to 10 years. Maintenance treatments are recommended especially
at the change of season.
<br>
Many women spend a lot of money on creams, injections or even surgical procedures
to improve their appearance, but more and more are choosing complementary
therapies such as acupuncture, which has proven to be highly effective in
this field. <br>
<br>
Our goal and challenge has been and continues to be to offer affordable service. <br>
<br>
The prices of acupuncture in the US and in Western Europe are usually very high,
the average cost in the clinics in the United States is around
4300 dollars. And a cycle in UK costs more than 1400 pounds. <br>
<br>

<!-- Comparison of price by area <br> -->
<%= image_tag("PriceComparison", :class => "style_image") %>
<br><br><br>

<h1 class="off">Our Prices</h1><br>

You can come for individual appointments although it is recommended you do more
sessions because of the cumulative effect of cosmetic acupuncture - the more
sessions you do, the longer the effects will last.<br>
<br>
<h1 class="off">Cosmetic Acupuncture</h1><br>
<%= image_tag("precios2", :class => "style_image") %><br>
<!-- * The first session for individual appointments is 40€. -->
<br>
<h1 class="off">General Acupuncture</h1><br>
<%= image_tag("acugen2", :class => "style_image") %><br>
<br>
<h1 class="off">Special Offer until 20th June 2017</h1><br>
<h1 class="off">6 sessions, 105 euros</h1><br>
<h1 class="off">12 sessions 210 euros</h1><br>
<br>
