<h1 class="off">A Scientific Understanding </h1>
<br>
One of the many explanations of the various mechanisms by which acupuncture works
is that with needle insertion, the body endures a micro-trauma that in turn
stimulates the injury repair system within the body. It is this natural healing
process that stimulates the production of collagen at the site of the needle
insertion. Regeneration of the dermis and epidermis produces new collagen and
elastin proteins. New skin tissue essentially appears younger.<br>

<!-- Uno de los mecanismos del funcionamiento de la acupuntura es que a través de la
inserción de la aguja, el tejido recibe un micro-trauma que de forma simultánea
estimula el sistema reparativo fisiológico. Este sistema, con su proceso de
curación natural, estimula la producción de colágeno en lugar de la inserción de
la aguja. La regeneración de la dermis y  epidermis estimula la producción de
nuevas proteínas de colágeno y elastina. Los tejidos de piel nueva aparecen más
jóvenes. <br> -->
<br>
<h1 id="colageno", class="off">Collagen</h1><br>

Collagen is a protein molecule that forms fibres. Collagen fibres are
found in all multicellular organisms and are secreted by connective tissue cells such
as fibroblasts *, as well as by other cell types. It is the most abundant
component of the skin and bone, making up 25% of the total mass of proteins in
mammals. It is found in the skin, cartilage, bones, tendons and other connective
tissues. Is   The most important structural component of the deep layer of the
skin (Dermis)<br>
<!-- <blockquote><p>El colágeno es una molécula proteica que forma fibras, las fibras
  colágenas; estas se encuentran en todos los organismos pluricelulares, son
  secretadas por las células del tejido conjuntivo como los fibroblastos*, así́ como
  por otros tipos celulares. Es el componente más abundante de la piel y de los
  huesos, cubriendo un 25% de la masa total de proteínas en los mamíferos. Se
  encuentra en la piel, Cartílago, huesos, tendones y otros tejidos conectivos. Es
  el componente estructural más importante de la capa profunda de la piel
  (Dermis).</p></blockquote><br> -->
<br>
<%= image_tag("colageno-elastina", :class => "style_image4") %>
<h1 id="elastina", class="off">Elastin</h1><br>

Elastin together with collagen and other structural elements, constitute the weave
of connective tissue. Elastin forms fibres that give elasticity to the fabric,
comparable in its elastic property to natural rubber.

<!-- La elastina junto con el colágeno y otros elementos estructurales, constituyen la
trama del tejido conjuntivo.  La elastina forma fibras que confieren elasticidad
al tejido, comparable en esta propiedad elástica al caucho natural. <br>
<br> -->

Aggressive (climatic) and pathological (disease) factors affect the facial
muscles and affect the skin. With aging hypotonia * occurs at the muscle level
and dehydration at the level of the skin (deficiency of the yin of the lung,
the lung dominates the skin and the hair, its deficiency weakens the flow of
nutrients to the skin). The flaccidity forces muscles to work harder in order to
perform facial expressions, which causes muscular fatigue that is not compensated
by the body, leading to a slight decrease in the tone, so you enter a vicious circle.
The skin being constantly folded to accompany the muscular movements, ends breaking
its elastic fibers; producing expression lines or wrinkles.<br>

<!-- Los factores agresivos (climáticos) y patológicos (enfermedad), afectan los músculos
faciales y repercuten en la piel. Con el envejecimiento se produce hipotonía* a
nivel muscular y deshidratación a nivel de la piel (deficiencia de yin de pulmón,
El pulmón domina la piel y el vello, su deficiencia produce una débil nutrición de
la piel). La flacidez obliga al organismo a un esfuerzo mayor de sus músculos para
realizar las expresiones faciales, lo cual provoca fatiga muscular que no es
compensada por el organismo, llevando a una menor disminución del tono, por lo que
se entra en un círculo vicioso. La piel siendo constantemente plegada para
acompañar los movimientos musculares, termina rompiendo sus fibras elásticas;
surgiendo así las líneas de expresión o arrugas. <br> -->
<br>
<br>

<h1 class="off"> The Role of Neurotransmitters in the Regenerative Process</h1><br>

<b>Arginine</b> plays an important role in cell division, the healing of
wounds, immune function, and the release of hormones. <br>

<br>

<b>Asparagine</b> is an amino acid that is used in the biosynthesis of
proteins. This glycosylation is important both for protein structure and
protein function.<br>
<br>

<b>Gamma-Aminobutyric acid(γ-Aminobutyric acid) GABA </b> is the chief
inhibitory neurotransmitter in the mammalian central nervous system. GABA
is also directly responsible for the regulation of muscle tone.<br>

<br>

<b>Glicine</b> is a significant component used in the method of protein
analysis. It serves as a buffering agent, maintaining pH. <br>

<br>

<b>Acetylcholine</b> Acetylcholine in the serum exerts a direct effect
on vascular tone by binding to muscarinic receptors present on vascular
endothelium leading to vasodilation.<br>

<br>

<b>Dopamine</b> Dopamine functions primarily as a local chemical
messenger. In blood vessels, it inhibits norepinephrine release and acts
as a vasodilator (at normal concentrations).
<br>

<br>
Though not a cure for wrinkles, fine lines may be eliminated while deeper
wrinkles tend to diminish considerably. Other likely results include
eyebags being reduced or eliminated, puffiness of the face reduced or
banished, facial colouring equalised (whether too red or too pale),
drooping eyelids lifted, and double chins minimized and in some cases
eliminated. Drooping eyelids and eyebrows, jowls and ‘turkey necks’ can
be observed as having lifted and toned. With the profound increase of
local circulation of qi and blood to the face and stimulation of the
movement of lymph, skin texture and colouring improves visibly, the
moisture content of the skin improves, muscle tone improves, and pore
size is reduced. Techniques can also be employed to eliminate broken
capillaries. Visible stress and habitual expressions from the face melt
away.
<br>
