
<h1 class="off">What does facial rejuvenation acupuncture consist of?</h1><br>

<!-- At the first appointment an evaluation of your medical history will
be made we will comment on the areas of the face that you would like
to improve. Your skin will be categorized according to the table
below.<br> -->

At the first appointment, the individual's complete medical history
will be taken. This is the basis of the MTC and since any underlying
symptom/condition can help us a lot with the overall treatment.
keep in mind that not only marks areas of the face but also distal
points (legs and arms). After the global evaluation, we will proceed
to the local diagnosis of the face. This part will be done according
to different criteria.<br>
<br>
A) Dark complexion - black is the color of the kidney, the liver
produces an emaciated face. The liver and kidney produce a dark face.
<br><br>
B) Purple complexion - deficient circulation and vessels, causing
stagnation of qi and blood. The heart dominating the blood.
<br><br>
C) Pale, white complexion that shines - deficiency of blood (xue),
in the heart and liver, deficiency of qi of the Lung
<br><br>
D) Reddish, shiny complexion,  excessive fire in the heart that
causes heat in the blood. The heart dominates the blood.
<br><br>


<b>According to the epidermis.</b><br>
<br>
<b>Thick skin:</b> has a well developed stratum corneum, has a rough
appearence, the pores are dilated and of opaque yellowish color,
due to the keratin.<br>
<b>Thin Skin:</b> It has a thin cornea layer, presents a uniform surface
pores not very visible and translucent pink color.<br>
<br>

<b>According to the dermis.</b><br><br>

The firmness, elasticity and recovery of the skin, basically
depend on the characteristics of the dermis. Can be divided
into:<br><br>
<b>Tonic skin:</b> presents tension and elasticity.<br>
<b>Flaccid Skin:</b> has lost elasticity and resilience
after undergoing deformation. aged skins have these caratcteristics
and even young skins that have suffered a sudden thinning
or certain diseases.<br><br>

<b>According to the secretions.</b><br><br>

The epicutaneous emulsion or hydrolipidic mantle is the emulsion
formed by the water coming from the sweat glands and the environment,
together with the lipids of the cebaceous glands and the cornea layer,
a film that covers the stratum corneum, helping to maintain the
barrier function.<br>

<!-- Se utilizan diferente criterios para clasificar la piel.<br>
<br>
<b>Según la epidermis.</b><br><br>
Piel gruesa: aquella que posee un estrato córneo bien desarrollado. La
suelen presenter personas expuestas de forma crónica al sol, ya que uno
de sus efectos es la hiperqueratosis (engrosamiento del estrato córneo).
Su aspecto es Tosco, son los poros dilatados y de color opaco amarillento,
debido a la queratina.<br>
Piel Delgada: Posee una capa córnea fina, presenta una superficie uniforme
poros poco visible y de color sonrosado traslúcido.<br>
<br>
<b>Según la dermis.</b><br><br>
La firmeza y la elasticidad y recuperación de la piel, dependen
básicamente de las características de la dermis. Se puede dividir en:<br>
Piel tónica: Es aquella que presenta tension y elasticidad.<br>
Piel Flácida: Aquella que ha perdido la elasticidad y la capacidad de
recuperación después de someterse a una deformación. Presenta éstas
caratcerísticas pieles envejecidas e incluso pieles jóvenes que han
sufrido un adelgazamiento brusco o ciertas enfermedades.<br>
<br>
<b>Según las secreciones.</b><br><br>
La emulción epicutánea o manto hidrolipídico es la emulsion formada por
el agua procedente de las glándulas sudoríparas y el ambiente, junto con
los lípidos de las glándulas cebáceas y de la capa cornea. El una película
que recubre el estrato córneo, ayudando al mantenimiento de la función de
barrera. 2<br> -->

<br>
<%= image_tag("SkinComparison2", :class => "style_image") %><br>
*O/W = oil in water, W/O = water in oil
<br><br>
A Diagnosis will be made and the points will be chosen and explained to the
patient according to the observation and any underlying condition. Then we proceed
to the treatment with needles in the areas of the face, neck and other parts of
the body.
<br>
<%= image_tag("needle_depth", :class => "style_image4") %>
<br>
• 25-50 very fine needles are inserted into specific meridian points on the face. <br>
• The needles will remain inserted for a period of approximately 30 minutes while
you relax and enjoy the therapy<br>
• Then they will be removed and a jade roll that complements the previous
process will be applied which and promotes the circulation of blood in the area. <br>
• Afterwards the face will be cleaned and we will apply a toner and then natural
oil. (The products we use are organic) <br>
• At the end you will be given some advice on nutrition and herbal medicine – phytotherapy.
Phytotherapy is the oldest medical profession (Stretching back over 2,500 years,
Chinese herbalism is the oldest continually practised medical profession in the
world).  It will benefit the person during the treatment cycle.  Based on the same
diagnostic method as in traditional acupuncture, it re-establishes the balance and
harmony of the body. <br>
<br>
The needles we use are Japanese, disposable and sterile. The needles on the face
are very small - smaller and thinner compared to those used on the rest of the
body. We use two needles of different types on the face, depending on the area of
the insertion we use needles with or without a tube. <br>
<br>

For intensive facial rejuvenation treatment, some people may experience a
sensation of tightness or pulling while the needles are in, although nothing
painful.  Performed correctly, you should be able to completely relax during
acupuncture treatment, and you may forget that the needles are there.

<%= image_tag("treatment1", :class => "style_image4") %><br>
<br>

IMPORTANT: Some points are used in the area of the legs / arms so it is
recommended to come to the appointment with appropriate clothing. (It will
be necessary to raise the clothes up to the area of the knees, and the sleeves
up to the elbows) <br>
<br>
It is also recommended, to come to the appointment without makeup, if possible,
as it is of interest not to have many products with chemical processing on the
surface of the face.
You can do acupuncture even if you are taking medication.
<br>
<br>
<h1 class="off">Contraindications</h1> <br>

We do not recommend cosmetic acupuncture in cases of <br>
<br>
• Strong and continuous migraines <br>
• Pregnancy <br>
• Hemophilia <br>
• Very high blood pressure <br>

<br>
A course of approximately 10-12 treatments is recommended. Most patients notice a
difference after one or two treatments, however, the effects become most noticeable
and lasting after 6 treatments. Each person responds differently, depending on the
condition of their skin and lifestyle prior to treatment. Following the initial
course of treatment, maintenance treatments of once a month can prolong the
results for five to ten years. <br>
