
<h1 class="off">What does Cosmetic Acupuncture Consist of?</h1><br>

<!-- At the first appointment an evaluation of your medical history will
be made we will comment on the areas of the face that you would like
to improve. Your skin will be categorized according to the table
below.<br> -->

During the first appointment, the individual's complete medical history
will be taken. This is the basis of CTM since any underlying
symptom/condition can help to guide us towards a more efficient and
customized treatment. Bear in mind that needles will be used not only
in areas of the face but also in distal points (legs and arms). After the
global evaluation, we will proceed to the local diagnosis of the face.
This part will be done according to different criteria.<br>
<br>
A Diagnosis will be made and the points will be chosen and explained to the
patient according to the observation and any underlying condition. Then we proceed
to the treatment with needles in areas of the face, neck and other parts of
the body.
<br>
<%= image_tag("needle_depth", :class => "style_image4") %>
<br>
• 25-50 very fine needles are inserted into specific meridian points on the face. <br>
• The needles will remain inserted for a period of approximately 30 minutes while
you relax and enjoy the therapy.<br>
• Then they will be removed and a jade roll that complements the previous
process will be applied which and promotes the circulation of blood in the area. <br>
• Afterwards the face will be cleaned and we will apply a toner and then natural
oil (The products we use are organic). <br>
• At the end you will be given some advice on nutrition and herbal medicine – phytotherapy.
Phytotherapy is the oldest medical profession (Stretching back over 2,500 years,
Chinese herbalism is the oldest continually practised medical profession in the
world).  It will benefit the person during the treatment cycle.  Based on the same
diagnostic method as in traditional acupuncture, it re-establishes the balance and
harmony of the body. <br>
<br>
The needles we use are Japanese, disposable and sterile. The needles on the face
are very small - smaller and thinner compared to those used on the rest of the
body. We use two needles of different types on the face, depending on the area of
the insertion we use needles with or without a tube. <br>
<br>

For intensive facial rejuvenation treatment, some people may experience a
sensation of tightness or pulling while the needles are in, although nothing
painful.  Performed correctly, you should be able to completely relax during
acupuncture treatment, and you may forget that the needles are there.

<%= image_tag("treatment1", :class => "style_image4") %><br>
<br>

<b>IMPORTANT: Some points are used in the area of the legs / arms so it is
recommended to come to the appointment with appropriate clothing. (It will
be necessary to raise the clothes up to the area of the knees, and the sleeves
up to the elbows) <br>
<br>
It is also recommended, to come to the appointment without makeup, if possible,
as it is of interest not to have many products with chemical processing on the
surface of the face.
You can do acupuncture even if you are taking medication.
<br>
<br>
<h1 class="off">Contraindications</h1> <br>

We do not recommend cosmetic acupuncture in cases of <br>
<br>
• Strong and continuous migraines <br>
• Pregnancy <br>
• Hemophilia <br>
• Very high blood pressure <br>
• If you have a pacemaker <br>
• If you are taking anticoagulants <br>
• Problems with the pituitary gland <br>
<br>
<!-- A course of approximately 10-12 treatments is recommended. Most patients notice a
difference after one or two treatments, however, the effects become most noticeable
and lasting after 6 treatments. Each person responds differently, depending on the
condition of their skin and lifestyle prior to treatment. Following the initial
course of treatment, maintenance treatments of once a month can prolong the
results for five to ten years. <br> -->
