<h1 class="off">El Enfoque Tradicional</h1><br>

La medicina natural china, con su enfoque más holístico, entienden el proceso de la aparición de la enfermedad como una señal de que existe algo que no está funcionando correctamente en el cuerpo y es necesario dejar de realizar algo. Visto de esta manera, la enfermedad es una oportunidad que nos hace sintonizarnos con nuestro interior, reflexionar y revisar nuestra vida. El dolor puede ser consecuencia de hábitos de vida inadecuados o el grito de algo que no logra expresarse de otra manera. ¿Cuánto miedo, ira, rabia, soledad, tristeza, frustraciones o cualquier otra emoción reprimida expresamos a través del dolor y la enfermedad? No se trata, pues, de acallar los síntomas con medicamentos tóxicos,  que en su mayoría generan efectos adversos, sino de escuchar los mensajes del organismo, para hacer los cambios necesarios y recuperar la armonía. Casi todos los sistemas de salud basados en la pasividad y dependencia del "paciente" han fracasado puesto que la auténtica curación es un proceso activo que implica la participación y el despertar del individuo para lograr la transformación.
<br><br>
<!-- Considerando la salud como el estado de unidad, equilibrio y armonía entre los diferentes niveles del ser Jing — Qi - Shen: físico-energético y espiritual y entre el ser y su entorno (la naturaleza), la prevención consistirá en conocer, entender y aplicar los principios o leyes universales a la propia vida. A medida que vamos tomando conciencia de nosotros mismos (despertar) y nos armonizamos con el ser que somos y lo que nos rodea (fluir) podemos transformar nuestra vida. El cambio es la única verdad del universo; quien no se desarrolla y crece de forma continuada se estanca; y por tanto enferma por ir en contra de una Ley Natural.<br>
<br> -->

<%= image_tag("yinyang", :class => "style_image3") %><br>
<br>
La belleza seduce a muchos a perseguir un estilo de vida más saludable. La búsqueda de la belleza y la longevidad es universal y ha estado presente a lo largo de la historia. La juventud, la apariencia y la juventud no son preocupación exclusiva de los ciudadanos de occidente. Durante el periodo de los reinos combatientes (475–221 BC) recibir acupuntura por motivos estéticos era un lujo que solo era reservado a emperatrices y las concubinas para cuidar y mantener su apariencia estética. Actualmente en China existen departamentos de acupuntura en universidades y hospitales, conocidos como mei rong en Mandarín. <br>
<br>
<br>
<h1 id="MTC", class="off">La Relación de los Meridianos Chinos y sus Respectivos
  órganos</h1> <br>
<%= image_tag("face areas", :class => "style_image4") %>
Hace más de mil años los expertos en medicina china descubrieron que
la mayor parte de los meridianos comienzan o terminan en el rostro y algunos de ellos tienen ramas internas que conducen a él, uniendo estrechamente la relación entre salud y apariencia. Los cambios y deterioro en la piel y tono muscular reflejan el estado de los órganos (zang fu), la sangre en incluso el yin y yang.
<br>
<br>
Según los textos clásicos de la MTC (Nei Jing), el cabello y la piel, incluyendo la complexión, están relacionados con el estado de los órganos internos (zang fu). El estado del cabello está regido por los riñones. La función de los pulmones está estrechamente relacionada con el buen funcionamiento de la piel. <br>
<br>
La medicina tradicional china trabaja en un sistema de parejas. Por ejemplo, la piel funciona como pareja del intestino grueso, con lo que la alteración del funcionamiento del intestino grueso también afecta a la piel profundamente. De esta forma se utilizan puntos de los meridianos del intestino grueso que afectan el estado del rostro. El meridiano del estómago traviesa la mayor parte del rostro y se usa en muchos casos para conseguir un efecto cosmético local. El estómago es la pareja interior-exterior del bazo y sus puntos ayudan a tonificar los músculos y las grasas subyacentes del rostro.<br>
<!-- Esta
comunicación del pulmón,  bazo (órganos zang) y estómago e intestino
(organos 'fu') les permite actuar de manera sinérgica. <br> -->


<br>

El estado del cabello está relacionado con el estado de la sangre o riñón, el grosor y brillo del cabello depende intrínsecamente del pulmón. El tono del rostro refleja el estado del qi y de la sangre. El tono claro y una apariencia hidratada del rostro indica un qi de estómago saludable. Los distintos tonos nos alertan e informan sobre el estado de los órganos internos, una tonalidad amarilla puede indicar una insuficiencia energética del bazo, por ejemplo. Algunas zonas del rostro indican el estado de determinados órganos en función del brillo o color. Así, vemos como el rostro puede proporcionarnos mucha información sobre el estado de salud de una persona. La belleza exterior depende del estado energético interior, por esto es necesario concentrar el tratamiento sobre el equilibrio energético lo que proporcionará resultados duraderos.<br>
<br>
<h1 class="off_small">Los Organos y el Rostro</h1><br>

<b>Tez Oscura</b>- el negro es el color del riñón, el hígado produce una cara demacrada. Alteraciones en el hígado y el riñón producen que el cutis tenga una apariencia apagada.<br>
<br>
<b>Tez Púrpura</b>- deficiente circulación y los vasos que causa estancamiento de qi y sangre. El corazón dominando a la sangre.<br>
<br>
<b>Tez Pálida</b>, blanca que brilla indica deficiencia de sangre (xue), en corazón e Hígado, deficiencia de qi del Pulmón.<br>
<br>
<b>Tez Rojiza</b>, lustrosa,  excesivo fuego en el corazón que causa calor en la sangre. El corazón domina a la sangre.<br>
<br>
<br>

<!-- <h1 class="off">¿Cómo actua la la Acupuntura?</h1><br>

Como en la acupuntura tradicional, los puntos son elegidos en el momento del tratamiento según el individuo y sus necesidades. Se aplican los parámetros establecidos del diagnóstico y la estrategia del tratamiento en la acupuntura cosmética. Muchos puntos locales del rostro y del cuello también son usados para conseguir unos efectos cosméticos adicionales.<br>

<%= image_tag("capas-piel", :class => "style_image5") %><br>

La acupuntura cosmética consiste en la estimulación e inserción, a través de la piel de pequeñas agujas en ciertos puntos específicos en áreas del rostro, el cuello, y otras partes del cuerpo. Las agujas causan una contracción de la dermis (la capa interna de la piel), los músculos faciales se contraen, tonifican y se produce el estiramiento del cutis, estimulando la liberación de endorfinas, neurotransmisores y aminoácidos.<br>
<br>

<br> -->
