<h1 class="off">El Enfoque Científico </h1>
<br>
Uno de los mecanismos del funcionamiento de la acupuntura es que a
través de la inserción de la aguja, el tejido recibe un micro-trauma
que de forma simultánea estimula el mecanismo reparativo fisiológico, que
con su proceso de curación natural, estimula la producción
de colágeno en lugar de la inserción de la aguja. La regeneración de la
dermis y  epidermis estimula la producción de nuevas proteínas de
colágeno y elastina. Los tejidos de piel nueva aparecen más jóvenes. <br>
<br>
<h1 id="colageno", class="off">El Colágeno</h1><br>


El colágeno es una molécula proteica que forma fibras, las fibras colágenas; estas se encuentran en todos los organismos pluricelulares, son secretadas por las células del tejido conjuntivo como los fibroblastos*, así́ como por otros tipos celulares. Es el componente más abundante de la piel y de los huesos cubriendo un 25% de la masa total de proteínas en los mamíferos. Se encuentra en la piel, cartílago, huesos, tendones y otros tejidos conectivos. Es el componente estructural más importante de la capa profunda de la piel (Dermis).<br>
<br>
<%= image_tag("colageno-elastina", :class => "style_image4") %>
<h1 id="elastina", class="off">La Elastina</h1><br>

La elastina junto con el colágeno y otros elementos estructurales, constituyen la trama del tejido conjuntivo. La elastina forma fibras que confieren elasticidad al tejido, comparable en esta propiedad elástica al caucho natural.<br>
<br>
Los factores climáticos y patológicos, afectan los músculos faciales y repercuten en la piel. Con el envejecimiento se produce hipotonía a nivel muscular y deshidratación a nivel de la piel (deficiencia de Yin de pulmón, este domina la piel y el vello, su deficiencia produce una débil nutrición de la piel). La flacidez obliga al organismo a un esfuerzo mayor de sus músculos para realizar las expresiones faciales, lo cual provoca fatiga muscular que no es compensada por el organismo, provocando una disminución del tono, por lo que se entra en un círculo vicioso. La piel  está siendo constantemente plegada para acompañar los movimientos musculares, termina rompiendo sus fibras elásticas; surgiendo así́ las líneas de expresión o arrugas.  <br>
<br>
<br>
<h1 class="off">Clasificación</h1><br><br>
<b>Según la epidermis.</b><br><br>
Piel gruesa: aquella que posee un estrato córneo bien desarrollado.

<!-- La
suelen presenter personas expuestas de forma crónica al sol, ya que uno
de sus efectos es la hiperqueratosis (engrosamiento del estrato córneo). -->

Su aspecto es osco, los poros están abiertos y la apariencia de la
tez puede ser opaca amarillenta,
debido a la queratina.<br>
Piel Delgada: Posee una capa córnea fina, presenta una superficie uniforme
poros poco visible y de color sonrosado traslúcido.
<br>
<br>
<b>Según la dermis.</b><br><br>
La firmeza y la elasticidad y recuperación de la piel, dependen
básicamente de las características de la dermis. Se puede clasificar en:<br>
Piel tonificada: Es aquella que presenta tensión y elasticidad adecuada.<br>
Piel flácida: Aquella que ha perdido la elasticidad y la capacidad de
recuperación después de someterse a una deformación. Presenta éstas
características pieles envejecidas e incluso pieles jóvenes que han
sufrido un adelgazamiento brusco o ciertas enfermedades.<br>

<br>
<b>Según las secreciones.</b><br><br>
La emulsión epicutánea o manto hidrolipídico es la emulsión formada por
el agua procedente de las glándulas sudoríparas y el ambiente, junto con
los lípidos de las glándulas sebáceas y de la capa cornea. La película
recubre el estrato corneo, ayudando al mantenimiento de la función de barrera.<br>

<br>
<%= image_tag("SkinComparison", :class => "style_image") %><br>
*O/W = aceite en agua, W/O = agua en aceite
<br><br>
<br>

<h1 id="neurotransmisores", class="off">La Función de los Neurotransmisores
  y Aminoácidos en el Proceso Regenerativo</h1><br>


<br> Los neurotransmisores y aminoácidos juegan un rol importante en la regeneración
de la piel, la curación de heridas, la liberación de hormonas,
la biosíntesis de proteínas, la regulación de tono muscular, la vasodilatación
y en el mantenimiento de niveles óptimos de pH.
<!-- Entraremos más en detalle con respeto a sus funciones en el apartado de
<a href="ciencia#neurotransmisores">ciencia</a>. -->
<br><br>

<b>La arginina</b> tiene un papel importante en la división celular, la
curación de las heridas, la función inmune y la liberación de hormonas. <br>
<br>
<b>La asparagina</b> es un aminoácido que se utiliza en la biosíntesis de
proteínas. <br>
<br>

<b>Ácido gamma-aminobutírico GABA</b> es el aminoácidos inhibidor
principal en el sistema nervioso central de los mamíferos. GABA es también
directamente responsable de la regulación del tono muscular. <br>
<br>
<b>La glicina</b> es un componente importante utilizado en el método de
análisis de proteínas. Sirve como agente tampón, manteniendo los niveles
optimos de pH. <br>
<br>
<b>La acetilcolina</b> en el suero ejerce un efecto directo sobre el tono
vascular porque se pega a los receptores muscarínicos presentes en el
endotelio vascular lo que causa la vasodilatación. <br>
<br>
<b>La dopamina</b> funciona principalmente como un mensajero químico
local. En los vasos sanguíneos, inhibe la liberación de norepinefrina y
actúa como un vasodilatador (a concentraciones normales). <br>

<br>
<!-- Aunque no sea una cura mágica para las arrugas, se pueden eliminar por
completo las líneas finas mientras que las arrugas suelen disminuir
considerablemente. Otros resultados probables incluyen la reducción o
eliminición de las bolsas bajo los ojos, los hinchazones se reducen
bastante, se restaura el color/brillo natural al rostro, parpados caidos,
y se minimiza los groseros y en algunos casos los eliminan. Las parpados
caidos, cejas, mandibulas y patas de gallo se levantan y se tonifican. Con
el profundo incremento de la circulación local de chi y sangre al rostro y
la estimulacion del movimiento de linfa, la textura de la piel y su color
mejora de forma visible, el contenido de humedad de la piel mejora, el tono
muscular mejora, y el tamaño de los poros se reduce. Las técnicas también
pueden ser empleadas para eliminar capilares rotas. El estrés visible y
expresiones habituales se derriten del rostro. -->
