

<html>
<body>
<h1 class="off">Hello world!</h1>

La acupuntura cosmetica maximisa la salud rejuvenacion de la piel, el cuerpo y la mente, y tiene los beneficios siguientes.
•	Anti envejicimiento
•	Aumentar la juventud
•	Segura
•	Eficaz
•	refrescante
•	Relajante
•	suave
•	restaura el equilibrio
•	depurativo
•	desintoxicante
•
•	Anti-aging
•	Youth Enhancing
•	Life Sustaining
•	Nurturing
•	Safe
•	Gentle
•	Effective
•	Relaxing
•	Promotes self-healing
•	Restores balance
•	Refreshing
•	Purifying
•	Detoxing
. <br>
La acupuntura tiene beneficios para<br><br>
•	Arrugas<br>
•	Lineas finas<br>
•	Descoloracion<br>
•	Complexion<br>
•	Marcas en la piel<br>
•	Las cicatrices<br>
•	El tonificacion<br>
•	Bienestar<br>
<br>
•	Fine lines
•	Discolouration
•	Complexion
•	Blemishes
•	Puffiness
•	Shadows
•	Scarring
•	Tone
•	Wellbeing
•	Anti-ageing
Treat the symptoms as well as the cause!
Cosmetic Acupuncture is a healing ritual which activates the skin healing processes rather than suppressing them, affecting not only how you look but also the way you feel.
La acupuntura cosmetica es un ritual de cuacion que active los procesos de curacion mas bien que suprimirlos lo que afecta no solamente como pareces sino como te sientes.
<br><%= image_tag "treatment2" %><br>
General introduction and ending
I would like to offer my translation services for your upcoming projects.

I am a freelance translator and interpreter and have a bachelor's degree in languages and linguistics from University College Dublin, Ireland.  I have been living in Seville, Spain for 19 years and have 18 years experience in translation and interpreting - 10 years translating and interpreting for a global leader in the paper packaging industry, 4 years in my own company offering customized translation and interpreting services, and more than 5 years freelancing in various sectors.



Please find attached my C.V./resume. If you have any further questions please do not hesitate to contact me.
I look forward to hearing from you.

Kind regards,

Neil McGrath

Paragraph about working style

Over the years I have formed excellent professional relationships with clients through a customized approach based on efficiency and reliability.  Due to the strict timeframes involved translators must be available to respond to the needs of the client, which are often urgent. Devoting my time to fewer clients and agencies enhances the efficiency of the working relationship which reduces costly time losses.
General introduction and ending
I would like to offer my translation services for your upcoming projects.

I am a freelance translator and interpreter and have a bachelor's degree in languages and linguistics from University College Dublin, Ireland.  I have been living in Seville, Spain for 19 years and have 18 years experience in translation and interpreting - 10 years translating and interpreting for a global leader in the paper packaging industry, 4 years in my own company offering customized translation and interpreting services, and more than 5 years freelancing in various sectors.

<img src="/images/bamboo.jpg" alt=bamboo >

Please find attached my C.V./resume. If you have any further questions please do not hesitate to contact me.
I look forward to hearing from you.

Kind regards,

Neil McGrath

Paragraph about working style

Over the years I have formed excellent professional relationships with clients through a customized approach based on efficiency and reliability.  Due to the strict timeframes involved translators must be available to respond to the needs of the client, which are often urgent. Devoting my time to fewer clients and agencies enhances the efficiency of the working relationship which reduces costly time losses.

<br>
Medical
<br>
I studied osteopathy at the world-renowned European School of Osteopathy in the UK, where the main subjects were pathology, physiology, anatomy and neuroscience. I subsequently gained extensive experience translating for universities, hospitals, healthcare practitioners and consultants. These jobs involved translating medical and science-based documents: translation of clinical trials, medical protocols, audits, scientific articles, patient pathologies, case histories, medical records and insurance policies.

<br>
Subtitling
<br>
I have previous experience with subtitling and I am currently working on a documentary with the renowned flamenco guitar luthier Andres Dominguez Guerrero. The film is about his life and the life of Abraham Ortega as flamenco musicians and guitar makers, and the art form of flamenco guitar making. I have been collaborating with him for the past 2 years on the design of a new type of guitar. The documentary is currently in post production and I am in charge of the translation and subtitling.

<br>
Wine
<br>
One of my functions during my time with the the packaging company Smurfit Kappa Group Huelva was to interpret for foreign bosses and customers on tours of the wine & cognac bodegas of La palma del condado and bollullos del condado, Huelva... Bodegas
<br>
Medical
<br>
I studied osteopathy at the world-renowned European School of Osteopathy in the UK, where the main subjects were pathology, physiology, anatomy and neuroscience. I subsequently gained extensive experience translating for universities, hospitals, healthcare practitioners and consultants. These jobs involved translating medical and science-based documents: translation of clinical trials, medical protocols, audits, scientific articles, patient pathologies, case histories, medical records and insurance policies.

<br>
Subtitling
<br>
I have previous experience with subtitling and I am currently working on a documentary with the renowned flamenco guitar luthier Andres Dominguez Guerrero. The film is about his life and the life of Abraham Ortega as flamenco musicians and guitar makers, and the art form of flamenco guitar making. I have been collaborating with him for the past 2 years on the design of a new type of guitar. The documentary is currently in post production and I am in charge of the translation and subtitling.

<br>
Wine
<br>
One of my functions during my time with the the packaging company Smurfit Kappa Group Huelva was to interpret for foreign bosses and customers on tours of the wine & cognac bodegas of La palma del condado and bollullos del condado, Huelva... Bodegas
<br><br><br><br>
</body>
</html>
