

<html>
<body>
<h1 class="off"></h1>

La acupuntura estética se suma a los tratamientos antiage
Los efectos estéticos de esta especialidad terapéutica que forma parte de la medi­cina tradicional china están revolucionando los tra­tamientos antiage: logra -a través de la aplicación de agujas en puntos clave, por un lapso de tiempo <br><br>determinado- suavizar líneas de expresión y atenuar manchas, iluminando la cara.
<br><br>
</body>Esta técnica milenaria es lo último entratamientos para combatir los signos de envejecimiento y es ideal para las que le escapan al bisturí.

Atenúa arrugas, suaviza manchas y otorga brillo a la piel con resultados visibles desde la primera sesión.

En la eterna lucha contra el enveje­cimiento, los avances tecnológicos siempre tienen las de ganar. El último tratamiento, la más moderna aparato­logía o el reciente descubrimiento científico son armas de batalla que siempre nos aproximan un poco más a la victoria.

Sin embargo, hoy la nove­dad viene de la mano de una técnica milenaria: laacupuntura.

Esta especialidad terapéutica que forma parte de la medi­cina tradicional china se ha desarrollado durante más de 3.000 años, lo­grando beneficios a nivel tanto físico como psico­lógico.

Y hoy su efecto a nivel estético está revolucionando los tra­tamientos antiage: logra -a través de la aplicación de agujas en puntos clave, por un lapso de tiempo determinado- suavizar líneas de expresión y atenuar manchas, ilumi­nando la cara.

Básicamente, la acu­puntura funciona mediante la estimulación del sistema para permitir una mejor circulación y flujo sanguíneo.

Afecta directamente al sistema nervioso autónomo (ramificaciones nerviosas que se distribuyen por todo el cuerpo regulan­do las funciones corporales involuntarias; por ejemplo, cuando dormimos o despertamos, la función digestiva, la tensión nerviosa, las con­tracturas musculares y la frecuencia cardíaca).

Este sistema se divide en simpático y parasim­pático. El simpático es la persona en estado de alerta, mientras que el parasimpático es el individuo en estado de relax.

Aplicación de la técnica
<br>
<%=image_tag("face9", :align=> "left")%>
<br>


Al parecer, la única contraindicación que tiene esta terapia es padecer de fobia a las agujas, aunque también desaconsejan su práctica en embarazadas, personas con fiebre o transitando estados infecciosos y pacientes anticoagulados.

Tampoco deben aplicarse agujas en áreas donde se ha empleado Bótox, por ejemplo, por lo que los especialistas indican que un cuestionario previo es sumamente necesario.

Muchas personas notan un gran cambio inmediato después de una sesión, pero la recomendación habitual es hacer de 6 a 12 sesiones anuales. También dependerá del problema a tratar.

Si es acupuntura estética en el rostro, se realizará en bloques de 10 sesiones, 1 sesión de 1 hora cada 15 días.
<!-- <%= image_tag 'face9', float: 'left' %> -->

Después se aconseja reforzar cada dos o tres meses, pero al ser una técnica tan personal no es conveniente generalizar.

Cuando se colocan las agujas se liberan mediadores químicos de nuestro cuerpo. Eso hace que mejore la circulación, logrando tensar la piel, mejorar su aspecto y haciendo que se vea mas luminosa.

No hay edad exacta para empezar con acupuntura. Se puede hacer, incluso, si se tiene 20 años y no se presenta líneas de expresión.

Igualmente, si el paciente siente leves o extremos síntomas de envejecimiento, nunca es tarde y se puede mejorar.
</html>
