<h1>Tratamiento facial rejuvenecedor</h1><br>
<br>

<html>
<body>
<h1 class="off"></h1>
<br>

El cuidado de la salud facial se llama tradicionalmente “Zhu Yan” 驻颜 en chino y significa
“permanecer joven”.

1996 report published in the International Journal of Clinical Acupuncture reported that among 300 cases
treated with facial acupuncture and cosmetic acupuncture, 90% had marked effects with one course of
treatment.

La acupuntura cosmética consiste en la estimulación e inserción, a través de la piel de pequeñas
agujas en ciertos puntos específicos en  areas  de la cara,  el cuello, y otras partes del cuerpo.
<br>
Hasta hace algunos años, la alternativa para eliminar las arrugas era el botox, los rellenos, peelings
químicos o cirugías estéticas.
<br>
las agujas causan una contracción de la dermis (o capa interna de la piel), estimulando los nervios
apropiados. Estos causan la contracción, los músculos faciales se recogen y se produce el
estiramiento del cutis.
<br>
(INICIO AND TRATAMIENT0)<br>
<br>
Los beneficios más mencionados en el uso de la acupuntura cosmética incluyen: verse de 5 a 10
años más joven; eliminar o minimizar líneas de expresión; suavizar el aspecto de las arrugas (no las
elimina); minimizar la inflamación en el rostro incluyendo la inflamación bajo los ojos; minimizar
los círculos oscuros bajo los ojos; minimizar la papada; afirmar el rostro; darle tersura a la piel
porque aumenta la circulación y los niveles de colágeno; ayudar a que los poros se vean más
chicos.<br>
<br>
(list is ok but badly expressed MAYBE BULLET POINTS)
<br>
Funcionamiento<br>
<br>
-neurotransmisores, endorfinas, y hormonas, que van a tonificar los músculos de la cara,
permitiendo una mayor circulación de la sangre, y mejorando su nutrición.<br>
(INICIO)<br>
<br>
La cara esta alimentada por vasos sanguíneos y refleja el estado de salud del organismo, así la observación de la
cara es un elemento importante del diagnostico en Medicina Tradicional China (MTC).<br>
<br>
El signo mas importante de envejecimiento en la cara es la aparición de las arrugas: el  ataque de  factores
patógenos externos o la deficiencia de algunos órganos puede acelerar el proceso de envejecimiento de la piel,
favoreciendo su aparición. También las emociones negativas como la preocupación, la cólera, etc. pueden generar
gestos –como fruncir el ceño– que a la larga se convierten en arrugas persistentes.
<br>
En MTC, para un tratamiento estético en zonas superficiales como la cara es imprescindible regular los órganos
internos.  a la aparición de las arrugas, a la distensión de la piel, a la falta de brillo, a la sequedad, etc. La estética
con MTC es una alternativa natural y duradera a los tratamientos convencionales en el campo de la estética.
<br>
• PARA QUIEN ES?<br>
<br>
Mujeres y hombres a partir de 25 años de edad... por que a partir de 25?
Ninguna piel es igual, y dependiendo de la genetica, edad, daños, abusos de sol, cremas etc... cada
caso es un nuevo caso...<br>
<br>
La acupuntura facial también actua de forma preventiva por eso se recomienda a las personas que
aun no tiene marcas/lineas signos de envejecimiento de rostro etc...<br>
<br>
El nivel de colageno se reduce dramticamente a partir de los 25<br>
<br>
Para personas con pocas arrugas, lineas no hace falta insertar tantas agujas...<br>
<br>
FRA is a virtually painless method firmly rooted in the principles of oriental medicine. Like
regular acupuncture, FRA involves differential diagnosis and the use of multiple needles to
move or balance the qi, blood, and fluids within the body as well as restore or maintain
harmony.<br>
<br>
As with regular acupuncture, points are chosen according to the constitution of the
individual and specific needs at  the time of treatment. The established parameters of
diagnosis and treatment strategy will generally apply when practising FRA. Many local
points on the face and head are also needled to obtain the extra cosmetic effects. there is
no risk or adverse side effects.<br>
<br>
Facial revitalisation acupuncture is a very thorough and effective process designed to help
the whole body both look and feel younger.<br>
<br>
Thousands of years ago the Chinese discovered that many meridians either commence or
terminate on the face and some have internal branches that go to the face, correlating the
relationship of health and appearance. Changes and deterioration in the skin, muscle tone,
and sense organs reflect the state of thezang fu, qi, blood, yin and yang.<br>
<br>
Different treatment methods are emphasised and specific points chosen according to how
an individual is manifesting his or her ageing process or health imbalances. The whole
person is treated and evaluated on the body-mind continuum – the foundation of Chinese
medicine.<br>
<br>
As we age, all our bodily systems decline: our circulation slows down and can become
impeded, our hormonal levels drop, our ability to digest and absorb our food decreases so
that we no longer operate at our peak levels as we may have in the past. FRA helps to
bring all the bodily systems up to the optimum levels possible for that person while
appeasing their appetite for a younger appearance.<br>
<br>
¿Cómo prevenir y combatir las arrugas?<br>
<br>
Con el seguimiento de un  plan integral de salud que incluye:<br>
<br>
1)    acupuntura cosmética y
2)    detoxificación: con  el uso de hierbas naturales y una alimentación individualizada
        y especifica para cada persona.<br>
<br>
(Elaborate at end of incio)

</body>



<br>
<%=image_tag("face9", :align=> "left")%>
<br>

<%= image_tag('face9', style: 'margin: 10px')%>
</html>
