<!-- 
<%= image_tag("toxic", :class => "style_image5") %>
<br>
La lista de químicos dañinos para la salud pueden ser tan comunes, que
pueden estar presentes en casi todos los cosméticos. Muchos productos
comerciales causan alergias, problemas de pigmentción, irritación de la
piel, trastornos hormonales; éstos agregados químicos pueden ser dañinos
para la salud a largo plazo, algunos de sus ingredientes pueden ser
cancerígenos y son usados por la industria cosmética sólo porque resultan
más económicos. <br>
<br>
si entendiéramos los efectos secundarios, a largo plazo, que aportan
los componentes químicos utilizado en la fabricación de maquillaje de
cremas desororantes etc quizás no los utilizaríamos tan amenudo.<br>
<br>
<br>
<br>
Ftalatos<br>
Fenol y Fenil<br>
Solventes<br>
Colorantes<br>
Mercurio<br>
Aluminio<br>
Liberadores de Formaldehide<br>

<br>
<h1 class="off">Un Cambio de Conciencia</h1><br> -->


<!-- Hoy en dia hay mas presion para mantener ciertos estandares de imagen y de belleza. Las campañas de marketing y publicdad están por todas partes, infiltrandose en las mentes limitadas de mujeres. Hoy en dia las mujeeres usan mas productos que nunca y aunque los resultados a corto plazo sean los deseados, se nos olvida tener en cuenta los efectos secundarios potenciales a medio y largo plazo....

La gran mayoría de productos habitualmente usados como maquillaje, cremas, geles, desordorantes llevan componentes quimicos que provocan efectos secundarios muy negativos para la salud a largo plazo....

Muchos productos comerciales causan alergias, problemas de pigmentción, irritación de la piel, trastornos hormonales; éstos agregados químicos pueden ser dañinos para la salud a largo plazo, algunos de sus ingredientes pueden ser cancerígenos y son usados por la industria cosmética sólo porque resultan más económicos.


Ingredientes Peligrosos


• Ftalatos
Son sustancias disolventes y suavizantes que se pueden encontrar con excesiva facilidad en cremas, esmaltes de uñas, perfumes, lacas de cabello y desodorantes.Se les relaciona con daños al sistema reproductor y endocrino, con aumento de padecer asma y cáncer. Existen seis tipos de ftalatos que han prohibido ya en esta producción, pero que se encuentran en diversos cosméticos. Estos son: Dietilhexiloftalato (DEHP), el Dibutilftalato (DBP), el butilbenzilftalato (BBP), el Diisononilftalato (DINP), el diisodeciloftalato (DIDP), y el dinoctilftalato (DNOP).


• Fenol y Fenil
Son sustancias que se utilizan como desinfectantes en el ámbito de la medicina y como conservantes en la industria de la cosmética. En el caso del fenol, por ejemplo, es conveniente saber que se trata de un alcohol que se produce mediante la ixidación parcial del benceno, lo cual lo convierte en un ingrediente tóxico que puede afectar al sistema nervioso central, al corazón, al hígado, al riñón y a la piel. El fenil que se incluye en los cosméticos con el nombre de Phenyllenediamine sulfate, penetra por la piel, accede al torrente sanguíneo y puede causar problemas hepáticos. Nitropheno, Phenolphthalein o Chlorophenol son algunas de sus denominaciones bajo las que puede aparecer.
• Colorantes
Son sustancias que se emplean para darle el color deseado a cremas, geles de baño, maquillajes, etc. Muchos de ellos han demostrado (al menos en animales) ser altamente cancerígenos y alterar las moléculas de ADN. Se les puede reconocer
40
porque sus denominaciones incluyen las sílabas Anilin, por ejemplo (Acetanilid) o por otras formulas más sencillas como HC (HC Orange 3), Acid (Acid red 73), etc.




• Solventes
Muchos estudios relacionan los solventes con el aumento de la incidencia de cáncer. Algunos de ellos (como los que tienen el término Isopropil), se usan también como solventes de pinturas y forman parte de la composición de los líquidos antocongelantes de los automóviles. Es una sustancia derivada del petróleo que, sin embargo; la industria cosmética convencional incluye en Cremas para manos, exfoliadores, espumas de afeitar, entre otros muchos cosméticos.


• Mercurio
Es un metal pesado de elevada toxicidad a pesar de lo cual a la industria cosmética se le permite utilizarlo como conservante de productos de maquillaje y desmaquillaje de los ojos, siempre que su concentración máxima sea del 0.007%, en la etuiqueta se puede encontrar bajo la nomenclatura: Tiosalicilato de Etilmercurio.
• Aluminio
Es otro elemento sobre el que también hay sospechas fundadas acerca de su toxicidad. De hecho se han realizado numerosos estudios (Algunos de ellos, incluso por la Organización Mundial de la Salud), sobre la relación entre el aluminio y el Alzheimer. Destacando el hecho de que en las autopsias realizadas a pacientes que padecían esa enfermedad se encontraran en sus cerebros, grandes concentraciones de aluminio. Gracias a esas investigacines se sabe que el aluminio puede unirse al ADN y modificar su estructura, así como alterar la actividad de los genes. Y su absorción se produce tanto por vía oral como a traés de la piel. De ahí que los cosméticos que lo contienen sea una fuente de contaminación que se debe tener muy e ncuenta, especialmente porque el aluminio puede –en sus diferentes formas-
enconrarse en cremas hidratantes, lápiz labial, desodorantes, antitranspirantes, etc. Un ejemplo de la utilización cosmética de aluminio es su presencia (En forma de Clorhidrato de aluminio) en la mayoría de los antitranspirantes que se encuentran en el mercado. Sólo que si bien su acción astringente consigue reducir o inhibir el flujo del sudor, también puede causar cáncer de mama al provocar la mutación de las células. Ello se debe a que al evitar la eliminación de toxinas a través de las axilas, forza al cuerpo a depositarlas en las glándulas linfáticas que se encuentran bajo los brazos. Y tal sería la razón de que la mayoría de los tumores cancerígenos de mama se encuentran precisamente en la región de esas glándulas. 1


• Liberadores de Formaldehído
Se trata de uno de los conservantes más utilizados por ser un potente Antimicótico. De ahí que se utilice incluso en la fabricación de materiales de construcción y de muebles, ya que previene y evita la aparición de Moho y hongos. Es altamente cancerígeno por inhalación. Además exponerse a él puede causar dolores articulares, de cabeza, Así como alergia, irritación, Envejecimiento prematuro de la piel, daño en las membranas celulares. Su uso está prohibido en la cosmética, pero como es un conservante muy barato la Industria se las ha ingeniado para crear sustancias que directamente no se pueden considerar FORMALDEHIDOS, pero que lo liberan. Se reconocen de dos formas: Una es leer en los ingredientes que se acompañan de la palabra UREA, como: Diazolidinil urea, Imidazolidinil urea o Poliximetileno urea. (NO DEBE CONFUNDIRSE CON LA UREA QUE SE ENCUENTRA EN LA SANGRE HUMANA, Y QUE ES EL RESULTADO DEL METABOLISMO DE LAS PROTEINAS). La otra forma de identificar estas sustancias es fijarse en que llevan las letras DM delante del nombre del conservante químico, como es el caso de la DM Hidantoína. Los mencionados no son los únicos conservantes liberadores de de Formaldehído, también lo hacen el Demetil Oxazolidino, el Armilacetato o el Alkifenol.


La sinergia de los principios activos naturales en la fitocosmética
Para crear un cosmético es necesario conocer qué principios activos están presentes en las plantas con las que se pretende elaborarlo. En fitocosmética, se denomina fitocomplejo al conjunto de principios activos contenidos en una planta, que demuestran su eficacia en su totalidad y no de manera individual. No pienses que el término fitocosmética hace referencia solamente a las barras de labios, las sombras de ojos y el maquillaje en general: también las cremas, jabones y aceites forman parte de esta categoría de productos creados con plantas e hierbas de propiedades naturales óptimas para el organismo. De hecho, los productos para el cuidado del cuerpo tienen, entre otras, la propiedad de reequilibrar la hidratación de la piel y de darle una protección natural contra el ataque de los agentes externos nocivos para la salud.




¿Cuáles son las plantas más utilizadas en fitocosmética?
Para preparar cosméticos y productos para el cuidado del cuerpo se utilizan algunas plantas con propiedades especiales: el aloe vera, de las más utilizadas gracias a su capacidad hidratante, se utiliza en cremas y jabones así como el aceite de oliva, conocido y utilizado como hidratante desde hace miles de años. Aloe vera, olivo y almendro son plantas típicas de la flora mediterránea mientras que la manteca de karité (con idénticas propiedades hidratantes) se extrae de una planta típica de África central y es también un óptimo antiarrugas. Lavanda, camomila y caléndula se añaden a las bases de las cremas cosméticas en calidad de lenitivos para aliviar las rojeces, las irritaciones y los escozores producidos por diversos factores. Las pomadas a base de  hiedra son analgésicas, a base de flor de papel son buenas para las hemorroides y para las irritaciones, la psoriasis o lasalergias. Las cremas con extracto de arctium se aplican para el acné, los forúnculos y las heridas ya que aceleran la cicatrización. Las que contienen lentisco son buenas para las arrugas y la piel seca y maltratada por los factores externos. El aceite del árbol del té es una sustancia muy común con propiedades antibacterianas que se utiliza en jabones, desodorantes, cremas para las quemaduras, picaduras de insecto, dermatitis, estomatitis y caspa, por citar solo algunos de sus usos. En los champús, se suele utilizar ortiga, con propiedades lenitivas, reequilibrantes y anticaspa, el aciano y las nueces; el hipérico se utiliza en la composición de cremas lenitivas y emolientes, la rosa mosqueta apara ungüentos que estimulan la renovación celular. El aceite de abedul es un óptimo drenante y anticelulítico; para conseguir una piel más elástica lo mejor es el destilado de hojas de  amapola; para combatir los puntos negros se aconseja hacer vapores de malva; y, por último, para descongestionar la hinchazón de los ojos, el pepino es milagroso.









La Fitoterapia
 -->
