<h1 class="off">Comparativo con otros procesos</h1><br>

Hasta hace algunos años, la alternativa para eliminar las arrugas era el bótox,
los rellenos, peelings químicos o cirugías estéticas. Inyecciones de bótox,
rellenos de colágeno o lifting facial son las opciones más frecuentes entre las
personas que quieren tratar de minimizar los efectos del paso del tiempo en su
rostro. Pero el alto coste de estos tratamientos y los riesgos asociados a ellos
suponen un freno para muchos. No todo el mundo está dispuesto a sufrir los
inconvenientes de un postoperatorio (La cirujía plástica es un método que conlleva
muchos riesgos y malos resultados) o a ponerse en manos de esteticistas cuya
preparación para administrar dichos tratamientos no es siempre la más adecuada.
<br>
<!-- bullet point list of negatives go here -->
Ademas el botox actua suprimiendo la liberacion de aceticolina, lo cual
puede causar paralisis facial.<br>


<br>
<%= image_tag("TreatmentComparison", :class => "style_image") %>
*con sesiones de mantenimiento<br>
<br>
<b>La acupuntura es la alternativa perfecta para personas que prefieren escoger el
camino mas natural a la hora de cuidar su apariencia, asi evitando todos los
efectos secundarios negativos que conllevan otras terapias.<b> <br>

<br>
<br>
<h1 class="off">¿Cuantas Sesiones son Necesarias?<h1> <br>

Se puede acudir a sesiones individuales aunque los efectos de la acupuntura
rejuvenecedora facial son acumulativos, por lo tanto los resultados óptimos se
consiguen tras varios tratamientos. Después de la primera sesión la mayoría de las
personas notan una mayor tonificación y más vitalidad/(brillo)en el rostro.  No
obstante los primeros resultados notables visibles se perciben durante 3-6
tratamientos.

De acuerdo con las normativas y directrices de la medicina china y acupuntura
un ciclo de 10-12 inicial óptimo es de 10 a 12 sesiones.

Se recomienda 2 sesiones por semana durante las primeras 3 semanas y
luego una sesión semanal. Este ciclo de tratamiento se puede realizar en
aproximadamente 2 meses. <br>
<br>
Después del ciclo inicial, un tratamiento de mantenimiento mensual
prolonga/perdura los efectos y los resultados durante 5 a 10 años.<br>
<br>

<h1 class="off">Precios</h1><br>

El objectivo y reto ha sido y sigue siendo ofrecer el servicio de
acupuntura cosmética a un precio asequible para cualquier bolsillo. <br>
<br>
Los precios de la acupuntura en EU y en Europa occidental suelen ser muy
elevados con un coste medio en las clinicas estadounidenses por
12 tratamientos (ciclo óptimo) de 4300 dolares y un ciclo de 12
tratamientos en el Reino Unido ronda los 1400 libras. <br>
<br>
Comparación de precio por zona<br>

<%= image_tag("PriceComparison", :class => "style_image") %>

<br>

<br>
<br>
<h1 class="off">Nuestros precios</h1><br>
<br>
Se puede acudir a citas individuales aunque se recomienda hacer mas sesiones
(hasta 12) por el efecto acumulativo de la acupuntura cosmética y para conseguir
los resultados optimos. <br>
<br>

Citas individuales--- 35euros<br>
Paquete Medio –-- 190euros- 6 sesiones con un descuento de 20 euros
de <br>
Paquete Completo --- 360euros- 12 sesiones descuento de 60 euros . Solo pagarías
10 sesiones<br>
<br>

<p class="red_text">Promocion de los paquetas hasta el 30 de mayo 2017<br>
6 sesiones, 105€<br>
12 sesiones, 210€</p><br>
<br>
<br>
