<h1 class="off">¿Cuantas Sesiones son Necesarias?</h1><br>

  Los efectos de la
  acupuntura cosmética son acumulativos, por lo tanto,
  los resultados óptimos se consiguen tras varias sesiones de tratamiento.
  Después de la primera sesión la mayoría de las personas experimentan
  una mayor tonificación, mas vitalidad en el rostro, piel
mas suave, mas brillo en los ojos y mejor bienestar general. No obstante
los primeros
  resultados notables visibles se perciben entre las 3 y 6 sesiones
  aproximadamente dependiendo de cada paciente. De acuerdo con los
  conocimientos y evidencias de la medicina china y
de la acupuntura, el ciclo óptimo y recomendable consiste en 12 sesiones.
Se recomienda realizar un mínimo de 1 sesión por semana.
Algunas personas prefieren probarlo durante una sesión y no hay ningún
inconveniente solo que para apreciar los mejores resultados hace falta
tener un poco de paciencia como en todo los procesos naturales.
<br>
<br>
Después del ciclo de 12 sesiones, un tratamiento de
mantenimiento cada seis semanas aproximadamente prolonga los efectos y los
resultados de 5 a 10 años.<br>
<br>

<h1 class="off">Comparativa de Tarifas</h1><br>

El objetivo y reto ha sido y sigue siendo ofrecer el servicio de acupuntura
cosmética a un precio asequible para cualquier bolsillo.  <br>
<br>
Los precios de la acupuntura en EU y en Europa occidental suelen ser muy
elevados con un coste medio en clínicas estadounidenses por 12 tratamientos
(ciclo óptimo) de 4.300 dólares y un ciclo de 12 tratamientos en el Reino
Unido rondan las 1.400 libras.
<br>
<br>


<%= image_tag("PriceComparison", :class => "style_image6") %>

<br>

<br>
<br>
<h1 class="off">Tarifas</h1><br>

Se puede acudir a citas individuales aunque se recomienda hacer un
tratamiento personalizado de más sesiones (hasta 12) por el efecto
acumulativo de esta terapia y para alcanzar los resultados deseados.<br>
<br>
<h1 class="off">Acupuntura Cosmética</h1><br>
<%= image_tag("precios", :class => "style_image") %><br>
<!-- * La primera sesión para citas individuales vale 40€. -->
<br>
<h1 class="off">Acupuntura General</h1><br>
<%= image_tag("acugen", :class => "style_image") %><br>
<br>
<h1 class="off">Promoción del 50% en los paquetes
  hasta el 20 de junio 2017</h1><br>
<h1 class="off">6 sesiones, 105€</h1><br>
<h1 class="off">12 sesiones, 210€</h1><br>
<br>
<br>
