<h1 class="off">Tarifas - Acupuntura (General)</h1><br><br>

Las sesiones necesarias dependen del individuo y del estado de la
desorden a tratar, no obstante, para la gran mayoría de condiciones
y lesiones se suele notar una mejora o alivio de las síntomas tras
una sesión, sobre todo a nivel de dolor ya que uno de los mecanismos
del funcionamiento de la acupuntura es a través de sus propiedades
sedantes y la liberación de endorfinas.<br><br>

<!-- <%= image_tag("acugen", :class => "style_image7") %><br><br> -->

<h1 class="off">La Acupuntura Cosmética - ¿Cuántas Sesiones son Necesarias?</h1><br>

  Los efectos de la
  acupuntura cosmética son acumulativos, por lo tanto,
  los resultados óptimos se consiguen tras varias sesiones de tratamiento.
  Después de la primera sesión la mayoría de las personas experimentan
  una mayor tonificación, más vitalidad en el rostro, piel
más suave, más brillo en los ojos y mejor bienestar general. No obstante
los primeros
  resultados notables visibles se perciben entre las 3 y 6 sesiones
  aproximadamente dependiendo de cada paciente. De acuerdo con los
  conocimientos y evidencias de la medicina china y
de la acupuntura, el ciclo óptimo y recomendable consiste en 10
sesiones y se recomienda realizar un mínimo de 1 sesión por semana.
Algunas personas prefieren probarlo realizando una única sesión,
aunque los primeros resultados ya serían visibles, se recomienda
tener un poco de paciencia para lograr los resultados óptimos, como
en todos los procesos naturales.
<br>
<br>
Después del ciclo de 10 sesiones, un tratamiento de
mantenimiento cada dos meses aproximadamente prolonga los efectos y los
resultados de 5 a 10 años.<br>
<br>

<!-- <h1 class="off">Comparativa de Tarifas</h1><br>

El objetivo y reto ha sido y sigue siendo ofrecer el servicio de acupuntura
cosmética a un precio asequible para cualquier bolsillo.  <br>
<br>
Los precios de la acupuntura en EU y en Europa occidental suelen ser muy
elevados con un coste medio en clínicas estadounidenses por 10 tratamientos
(ciclo óptimo) de 3.550 dólares y un ciclo de 10 tratamientos en el Reino
Unido rondan las 1.200 libras.
<br> -->
<br>


<%= image_tag("PriceComparison", :class => "style_image6") %>

<br>

<br>
<br>
<h1 class="off">Tarifas - Acupuntura Cosmética</h1><br>

Se puede acudir a citas individuales aunque se recomienda hacer un
tratamiento personalizado de más sesiones (hasta 10) por el efecto
acumulativo de esta terapia y para alcanzar los resultados deseados.<br>
<br>

<%= image_tag("precios", :class => "style_image7") %><br>
<!-- * La primera sesión para citas individuales vale 40€. -->
<!-- <h1 class="off">Promoción del 50% en los paquetes
  hasta el 20 de junio 2017</h1><br>
<h1 class="off">6 sesiones, 105€ --- 10 sesiones, 175€</h1><br>
<h1 class="off"></h1><br>
<br> -->
