<h1 class="off">¿Cuantas Sesiones son Necesarias?</h1><br>

  Los efectos de la
  acupuntura cosmética son acumulativos, por lo tanto,
  los resultados óptimos se consiguen tras varias sesiones de tratamiento.
  Después de la primera sesión la mayoría de las personas experimentan una
  mayor tonificación y vitalidad en el rostro. No obstante los primeros
  resultados notables visibles se perciben entre las 3 y 6 sesiones
  aproximadamente dependiendo de cada paciente. De acuerdo con las
  normativas y directrices de la medicina china y acupuntura, un ciclo
  inicial óptimo y recomendable oscila entre las 10 y 12 sesiones. Se
  recomiendan 2 sesiones por semana durante las primeras 3 semanas y
  posteriormente una sesión semanal. Este ciclo de tratamiento tiene
  una duración aproximada de 2 meses.
<br>
<br>
Después del ciclo inicial, un tratamiento de mantenimiento mensual
prolonga los efectos y los resultados durante 5 a 10 años.<br>
<br>

<h1 class="off">Comparativa de Tarifas</h1><br>

El objetivo y reto ha sido y sigue siendo ofrecer el servicio de acupuntura cosmética a un precio asequible para cualquier bolsillo.  <br>
<br>
Los precios de la acupuntura en EU y en Europa occidental suelen ser muy elevados con un coste medio en clínicas estadounidenses por 12 tratamientos (ciclo óptimo) de 4.300 dólares y un ciclo de 12 tratamientos en el Reino Unido rondan las 1.400 libras.
<br>
<br>
Comparación de precio por zona<br>

<%= image_tag("PriceComparison", :class => "style_image") %>

<br>

<br>
<br>
<h1 class="off">Tarifas</h1><br>
<br>
Se puede acudir a citas individuales aunque se recomienda hacer un
tratamiento personalizado de más sesiones (hasta 12) por el efecto
acumulativo de esta terapia y para alcanzar los resultados deseados.<br>
<br>
<%= image_tag("precios", :class => "style_image") %><br>
<br>

<p id="oferta", class="red_text"><b>Promoción del 50% en los paquetes
  hasta el 15 de junio 2017<br>
6 sesiones, 105€<br>
12 sesiones, 210€</b></p><br>
<br>
<br>
