Hay una presión constante en la sociedad actual para lograr el alto nivel
de belleza. Hay una abundancia de productos químicos disponibles hoy en
día que no estaban en el pasado y al hacer que aparezca más hermosa en el
corto plazo, en realidad daña su piel a largo plazo. El uso de productos
químicos en la piel viene con el precio de hacer que la piel envejece más
rápido. La acupuntura cosmética es una manera natural de mejorar su piel
no sólo en la superficie, sino profundamente en el tejido de la piel.<br>

<%= image_tag("toxic", :class => "style_image5") %>
<br>
La lista de químicos dañinos para la salud pueden ser tan comunes, que
pueden estar presentes en casi todos los cosméticos. Muchos productos
comerciales causan alergias, problemas de pigmentción, irritación de la
piel, trastornos hormonales; éstos agregados químicos pueden ser dañinos
para la salud a largo plazo, algunos de sus ingredientes pueden ser
cancerígenos y son usados por la industria cosmética sólo porque resultan
más económicos. <br>
<br>
si entendiéramos los efectos secundarios, a largo plazo, que aportan
los componentes químicos utilizado en la fabricación de maquillaje de
cremas desororantes etc quizás no los utilizaríamos tan amenudo.<br>
<br>
<br>
<br>
Ftalatos<br>
Fenol y Fenil<br>
Solventes<br>
Colorantes<br>
Mercurio<br>
Aluminio<br>
Liberadores de Formaldehide<br>

<br>
<h1 class="off">Un Cambio de Conciencia</h1><br>

Los conocimientos precisos que desde siempre han tenido los chinos y de los
que se nutre la acupuntura, permite llevar el concepto mucho más allá y
llegar a la cosmetología con la acupuntura facial, una técnica que llega
a tener un efecto antiaging que ofrece unos efectos muy parecidos a los
que se consiguen con inyecciones de colágeno, ácido hialurónico o botox,
por ejemplo. <br>
<br>

<h1 class="off">¿Por qué este Antiguo Método se está Convirtiendo en una Técnica Tan
Popular?</h1>

<br>
Los tratamientos de belleza están a la orden del día y la acupuntura puede
ser un estupendo aliado para conseguir el mejor aspecto. En muchas
ocasiones es mejor que someterse a otros tratamientos como inyecciones
de botox o caras cremas que finalmente, aunque cumplen su cometido son
tratamientos extremadamente caros para muchos bolsillos o conllevan efectos
secundarios. <%= image_tag("kim-kardashian", :class => "style_image4") %><br>
<br>
Hoy en día, gracias a los excelentes resultados que proporciona, son cada
vez más las famosas de Hollywood las que prefieren un tratamiento con
acupuntura antes que las inyecciones de botox, rellenos, liftings o
cualquier otro método de belleza. Y hoy su efecto a nivel estético está revolucionando los tra¬tamientos
antiage: <br>
<br>
La acupuntura cosmética es la última tendencia en Estados Unidos,
especialmente en Nueva York, donde los especialistas en esta terapia
están casi sin turnos para cubrir la gran demanda de las interesadas.
En los últimos años el tratamiento facial con acupuntura ganó popularidad.
 <br>
<br>

Desde hace unos 10 años la acupuntura se ha convertido en uno de los
principales formas (naturales) de combatir el envejecimiento... en
hollywood-hasta viene estipulado en muchos de los contratos que tienen
numerosas celebridades la obblicación a realizar sesiones de acupuntura
cosmetica... actrices que usan la acupuntura cosmetica, incluyen Madonna
y Kim Kardashian

<br>
<br>

<br>



<%= image_tag("sex_and_city2", :class => "style_image4") %><br>

Últimamente la acupuntura estética está atrayendo la atención de los
medios. "The Irish Times” ha reconocido este tratamiento como "una
alternativa viable a la cirugía estética y los efectos pueden ser mucho
más profundos que una simple mejora de la apariencia física".
<br>
<br>
Los principales acupuntores del mundo están haciendo un papel fundamental
en la introducción de este tratamiento en la cultura occidental moderna.
Su protocolo de tratamiento se ha presentado en importantes programas de
noticias de televisión de Europa y EEUU. ¡Virginia Doran, maestra
internacional experta en acupuntura estética, incluso aparece en
"Sex and the City”! <br>
<br><%= image_tag("sex_and_city", :class => "style_image5") %>
No es de sorprender que en Nueva York y Los Ángeles las listas de espera
sean de un año para los tratamientos de acupuntura estética y que sea un
servicio muy demandado por los ricos y famosos: <br>
Gwyneth Paltrow, Madonna etc...<br>

<br><br><br><br>
