<h1 class="off">Evaluación y Diagnóstico según la MTC</h1><br>
<br>
La primera sesión: duración aproximada de una hora y cuarto. Las siguientes
sesiones durarán 1 hora. aprox. <br>
<br>
Aunque la persona no acuda a la acupuntura cosmética específicamente por
temas de salud es imprescindible conocer cualquier condición subyacente
actual o pasada ya sea de aspecto físico, mental o emocional. Por lo tanto,
se realiza una historia médica detallada basada en métodos diagnósticos  y
la etiología de la MTC. <br>
<br>
Se clasifican los datos obtenidos para determinar la localización
(exterior-interior) de los síntomas, la naturaleza (frío-calor), la
relación de fuerzas (vacío-plenitud) y (yin-yang) <br><br>

A continuación, se realiza una inspección general del aspecto del
rostro, incluyendo los ojos (que se relaciona con el hígado y otros órganos), la nariz (se relaciona con el pulmón y riñón, la oreja (hígado y VB), las encías (relacionadas con el estómago) y de boca y garganta (pulmón y estómago). También se examina la lengua- que representa otro mapa del estado de los órganos internos y se toma el pulso que también tiene su relevancia respecto a la salud global. <br><br>

En algunos casos hay que revisar la columna vertebral, dado que
también nos puede indicar bastante acerca de la salud, sobre todo de
las extremidades, órganos y estados emocionales. <br><br>

También se tienen en cuenta las características de la piel según la
fisiología convencional del rostro tal y como se indica en el apartado
de 'ciencia' en la sección clasificación. <br><br>

Procedemos al diagnóstico y tratamiento individual,  se eligen los
puntos de inserción tanto en la zona del rostro como en otras partes
del cuerpo (suelen ser del codo hacia la mano y de la rodilla hacia
el pie). <br><br>

Se realiza utilizando varios criterios: <br><br>

a) Utilizando puntos de los cinco elementos.<br>
b) A través de la estimulación de puntos generales.<br>
c) Usando puntos distantes de los meridianos del rostro.<br>
d) Con los puntos de los cinco elementos, estimulando por ejemplo: Pulmón (Piel), Hígado (Músculos), y/o Bazo Páncreas (Tejido conjuntivo). <br><br>
<br>

<h1 class="off">Tratamiento</h1><br>

El tratamiento engloba varias fases - no solo acupuntura facial.<br>

Se seleccionan los puntos específicos de inserción en los meridianos
correspondientes. También se insertan agujas de forma local, es decir,
directamente sobre líneas de expresión, arrugas o la zona que queremos
mejorar. <br><br>

Conviene destacar que la profundidad de inserción de las agujas en el
rostro es menos de un milímetro y su inserción no es en absoluto
dolorosa- suele tener el efecto contrario,  causando una sensación
más bien placentera. <br><br>

<%= image_tag("needle_depth", :class => "style_image4") %>

• <span class=brown_text>Varias agujas muy finas son insertadas</span>. Algunas en zonas distales y
otras en el rostro y cuello<br>

• <span class=brown_text>Se aplica una breve técnica osteopática craneal</span> que sirve para quitar
posibles tensiones en la zona del cuello, cabeza y rostro. Esta técnica
es muy suave pero profundamente relajante<br>

• <span class=brown_text>Las agujas permanecen insertadas por un periodo de aproximadamente 30
minutos</span> mientras que el paciente puede relajarse y disfrutar de la terapia<br>

• <span class=brown_text>Se retiran las agujas y se aplica un sérum de ácido hialurónico.</span>
Se aplican rodillos de jade y piedras de gua sha que complementan
el proceso previo, facilitando la circulación de la sangre en la zona. <br>

• <span class=brown_text>Para finalizar se aplica una loción pro colágeno</span> y se da un masaje
facial que tiene como fin estimular aún más la  producción de colágeno,
elastina y ácido hialurónico natural y promover el drenaje linfático de
la zona del rostro hacia abajo. <br>
<br><br>
Hay más de 50 músculos en el rostro. Durante el masaje se presta mucha
atención a los puntos gatillos, y al lugar de origen y inserción de los
músculos mímicos y masticadores - ver sección acerca de los músculos
faciales en el apartado de ciencia.
Se le recomienda al cliente realizar unos ejercicios faciales por su
cuenta. Hoy en día todo el mundo conoce la importancia del ejercicio.
Cuando los músculos no se usan empiezan a atrofiarse y lo que las
personas olvidan, es que los músculos del rostro también necesitan ser
ejercitados al igual que cualquier otro músculo del cuerpo. Eso sí,
desde mi experiencia hay muy pocas personas que saben ejercitar y entrenar
de forma eficaz los grupos musculares del rostro y del cuello. <br><br>

<h1 class="off_small">Nutrición y Fitoterapia</h1> <br>
Al finalizar la sesión se ofrecen consejos personalizados de nutrición y de la medicina herbal (la fitoterapia). El herbalismo es la profesión médica más antigua del mundo que se remonta a más de 2500 años y cada vez más a las personas les interesa cuidar su salud a base de nutrición/hierbas naturales en lugar de tomar farmacéuticas convencionales que conllevan todo tipo de efectos secundarios a medio y largo plazo. Basado en el mismo método diagnóstico de la MTC, estos consejos restablecen el equilibrio y armonía del cuerpo. <br><br>

Se recomiendan sugerencias para bajar, en caso de que haya- niveles de ansiedad y estrés, como técnicas de meditación y de respiración. <br><br>
<br>

<h1 class="off">Las Agujas y la Sensación</h1><br>

<%= image_tag("treatment1", :class => "style_image4") %>

Existen personas que tienen miedo a las agujas porque están acostumbrados a las agujas de la medicina alopática, cuyas inserciones pueden doler por el grosor/tamaño de la aguja y porque se insertan directamente en los vasos sanguíneos lo cual suele provocar molestia. <br><br>
Las agujas de acupuntura y sobre todo las de la acupuntura facial no tienen absolutamente nada que ver con aquellas agujas. Son muy pequeñas y finas, más finas que un cabello y apenas se notan durante su inserción siendo el proceso indoloro. <br><br>
Las agujas que se utilizan son estériles y desechable,. Las del rostro son muy pequeñas – aún más pequeñas y finas comparadas con las que se usan en el resto del cuerpo. Se usan agujas de diferente tipo en el rostro, dependiendo de la zona de la inserción,  se eligen agujas con o sin tubo. <br><br>

Algunas personas cuando reciben el tratamiento pueden experimentar una sensación de contracción (tonificación) mientras las agujas están insertadas, aunque se puede notar no es en absoluto doloroso.
<br><br>
<br>
<h1 class="off">Quién realiza el Tratamiento?</h1><br>

Licenciado por la universidad de Dublín (UCD) en idiomas en el 1999,
y Traductor e intérprete de profesión hasta que por culpa de una lesión
crónica decidí cambiar el rumbo de mi vida y perseguir más respuestas
acerca de la salud. Embarqué el cambio estudiando un Masters (MOst) en
la reconocida y renombrada universidad europea de osteopatía de Londres.
Allí es cuando empecé a utilizar agujas por primera vez, en la técnica
conocida como punción seca- una técnica empleada por fisioterapeutas y
osteópatas – se diferencia a la acupuntura tradicional porque no se
utilizan el sistema de los meridianos de la MTC sino que se estimulan
zonas locales de dolor o puntos gatillos basados en la anatomía y
fisiología convencional. <br><br>

Posteriormente decidí ampliar mis conocimientos estudiando la acupuntura y la medicina tradicional china aquí en Sevilla. Mi particular interés y curiosidad en la zona del rostro dentro de la MTC me llegó cuando trataba a mis pacientes con acupuntura por temas generales de salud, como por ejemplo los típicos dolores de cabeza, espalda, problemas respiratorios, condiciones del sistema digestivo. Me di cuenta que cuando sus síntomas se aliviaban o desaparecian y la salud general del paciente mejoraba, simultáneamente había cambios en el tono y brillo del rostro, sin que hubiera ninguna aguja insertada en la zona del rostro durante los tratamientos. <br><br>
Esto me hizo profundizar más y especializarme en esta terapia antigua del rostro dentro de la MTC. Lo estudié en la escuela de acupuntura de shanghai acupuncture college de Irlanda y hoy en día lo practico desde mi consulta aquí en Simón Verde. <br><br>

Una de los fundamentales conceptos que he aprendido a lo largo de mis experiencias prácticas es que la acupuntura cosmética no solo trata la belleza sino la salud y el bienestar global. Si nuestro interior esta sano y equilibrado, la belleza emerge. Cuando nos vemos más guapos, nos sentimos mejor y por lo tanto,  si nos sentimos mejor, tendremos un mejor aspecto<br><br>

La piel es la capa más externa del cuerpo así que es el lugar más significativo en la manifestación de la belleza. Cuando tratamos los problemas de la piel, se deben tener en cuenta no solo las zonas locales del rostro sino los órganos que lo influencian. Cualquier desequilibrio en el sistema energético de los órganos internos puede resultar en una condición en la piel. Cuando se corrigen tales desequilibrios de forma local y distal, las síntomas de la piel mejoran o desaparecen. Las personas quieren ver resultados inmediatos (sobre todo en la acupuntura cosmética) sin embargo también quieren que sea un tratamiento eficaz a largo tiempo y la acupuntura cosmética logra obtener esto de forma natural y sin conllevar efectos secundarios. <br><br>




<h1 class="off">Factores a Tener en Cuenta</h1><br>

• <b>Se recomienda acudir a la cita con poco maquillaje, en caso de
  ser posible, ya que será necesario limpiar la zona del rostro y
  cuello antes de iniciar el tratamiento. </b><br>
<br>
• <b>Se puede recibir acupuntura aunque este tomando medicamentos.</b> <br>
<br>
• <b>Se recomienda esperar un periodo de dos meses antes de recibir
  acupuntura después de acudir a métodos como el bótox, rellenos,
  peelings químicos, cirugía...</b> <br><br>
<br>
<h1 class="off">Contraindicaciones</h1><br>
No se recomienda la acupuntura cosmética en casos de:<br><br>

• Migrañas fuertes y continuas<br>
• Embarazos<br>
• Hemofilia<br>
• Presión arterial muy alta<br>
•	Personas que tengan puesto un marcapasos en el corazón<br>
•	Personas que hayan tomado anticoagulantes<br>
•	Problemas con la glándula pituitaria<br></b>




<!--
En la primera cita, se realizará la anamnesis, basada en antecedentes y síntomas
del paciente. Esta constituye la base de la MTC y ya que cualquier síntoma o
condición subyacente es importante para el tratamiento global.<br>
<br>
Es necesario tener en cuenta que no solo se usan las agujas en el rostro sino
también en zonas distales (piernas y brazos). Después de la evaluación global,
procederemos al diagnóstico local del rostro. Esta parte se realizará según
diferente criterio.<br>

<br>


<h1 class="off">Diagnóstico</h1><br>
Este tratamiento tiende a reequilibrar, mejorando las funciones de sistemas
y tejidos del cuerpo, y se puede realizar de varias formas:<br><br>

a) Utilizando puntos de los cinco elementos<br>
b) A través de la estimulación de puntos generales<br>
c) Usando puntos distantes de los meridianos del rostro.<br>
d) Con los puntos de los cinco elementos, estimulando por
ejemplo: Pulmón (Piel), Hígado (Músculos), y/o Bazo
Páncreas (Tejido conjuntivo).<br>
<br>
Después de aplicar los criterios previos, se seleccionan los puntos específicos de inserción en los meridianos correspondientes. También se insertan agujas fuera de los meridianos, directamente sobre líneas de expresión, arrugas etc.
<br>

Se procede al tratamiento con agujas en las áreas del rostro,
cuello y otros partes del cuerpo:<br>
<br>

<%= image_tag("needle_depth", :class => "style_image4") %>

•	25-50 agujas muy finas son insertadas. <br><br>

•	Las agujas permanecen insertadas por un periodo de aproximadamente 30
minutos mientras el cliente puede relajarse y disfrutar de la terapia<br><br>

• A continuación, se quitan las agujas y se procede a realizar un masaje
con rodillos de jade que complementan el proceso previo y facilita
la circulación de la sangre en la zona. <br><br>

•	Se aplica un tonificante y luego aceites
naturales que son de origen ecológica (algunos provienen de nuestro
propio jardin).<br>

Las agujas que utilizamos son estériles y desechables. Las agujas del rostro son muy pequeñas - más pequeñas y finas comparadas con las que se usan en el resto del cuerpo. Usamos agujas de diferente tipo en el rostro, dependiendo de la zona de la inserción se usan agujas con o sin tubo.<br>
<br>
<!--
<<<<<fitoterapia paragraph>>> -->
<!-- Algunas personas cuando reciben el tratamiento pueden experimentar una
sensación de contracción (tonificación) mientras las agujas están insertadas,
aunque se puede notar no es en absoluto dolorosa.<br>
<br> -->
<!-- took this out and replaced with para below -->
<!-- Al final de la sesión se ofrecen consejos personalizados de nutrición y
de la medicina herbal (la fitoterapia). El herbalismo chino es la profesión
médica más antigua del mundo que se remonta a más de 2500 años. Basado en el
mismo método diagnóstico como en la acupuntura tradicional, reestablece el
equilibrio y harmonía del cuerpo. -->

<!-- Al final de la sesión se ofrecen consejos personalizados de nutrición y de la medicina
herbal (la fitoterapia). El herbalismo es la profesión médica más antigua del mundo
que se remonta a más de miles de años y cada vez mas las personas les interesa
cuidar su salud a base de recetas naturales en lugar de tomar farmaceúticas
convercionales que conllevan todo tipo de efectos secundarios a medio y largo plazo.
El uso de las plantas constiuye, indudablemente, la medicina más antigua del mundo.
Las plantas ocidentales -en este caso, las que se encuentran aquí en españa, pueden
ser descodificadas y empleadas según los principios subyacentes de la medicina China,
se transforman así en una verdadera alternativa terapéutica siguiendo la teoría de los
cinco elementos. -->

<!-- For intensive facial rejuvenation treatment, some people may experience a
sensation of tightness or pulling while the needles are in, although
nothing painful.  Performed correctly, you should be able to completely
relax during acupuncture treatment, and you may forget that the needles
are there. <br> -->
<!-- <br>
<br><br> -->




<!-- <h1 class="off">Quien Realiza el Tratamiento?</h1>
<br>
Licenciado por la ucd de dublin en idiomas en el 99, y traductor y interprete
de profesión hasta que por culpa de una lesión crónicas decidi cambiar el rumbo
de mi vida y perseguir respuestas acerca de la salud. Embarque el cambio
estudiando en la reconocida escuela europea de osteopatia de Londres.<br>
<br>

Posteriormente decidí ampliar mas mis conocimientos cuando estudiando la medicina
tradicional china en sevilla. Mi particular interés y curiosidad en la zona del
rostro dentro de la MTC empezó cuando trataba a mis pacientes con acupuntura por
temas generales de salud, como por ejemplo los típicos dolores de espalda, asma,
deficienicas del sistema digestivo, la menopausia.<br>
<br>
Me di cuenta que cuando las síntomas se aliviara o desapareciera y la salud
general del paciente mejoraba, simultáneamente hubo cambios en el tono y brillo
del rostro, sin que hubiera ninguna aguja insertada en la zona del rostro durante
los tratamientos. Esto me hizo profundizar más y especializarme en esta terapia del
rostro dentro de la MTC... Lo estudié en la escuela de acupuntura de cork en Irlanda
y hoy en dia lo practico desde mi consulta aquí en simon verde.<br>
<br>
Lo que he aprendido a traves de mis experiencias practicas es que la acupuntura cosmetica
no solo se trata de la belleza sino de la salud y bien estar de la persona. Si nuestro
interior esta sano y equilibrado nuestra belleza interior will shine through.  La piel
es la capa mas externa del cuerpo convertiendose en el lugar mas importante en la manifestacion
de la belleza.  Cuando tratamos los problemas de la piel debemos tener en cuenta no solo
laz zonas locales del rostro sino tambien los distintos organos internos que lo influyen.
Un desequilibrio en el sistema energetico de los organos internos puede resultar en una
patología en la piel del rostro.  Cuando se corrigen los desquilibrios de forma local y
distal, se desaparecen las síntomas de la piel.  Los pacientes quieren ver resultados
inmediatos (sobre todo en la acupuntura cosmética) pero sin embargo tambien quieren que sea efectivo
a largo plazo.  Lo mejor de este tratamiento es que no solo verás una mejora visible
en el rostro sino tambien en la salud en general.<br><br> -->

<!-- <h1 class="off">Factores a Tener en Cuenta</h1><br> -->
<!--
•	<b>Algunos puntos se usan en la zona de las piernas/brazos por eso se
recomienda acudir a la cita con ropa adecuada (habrá que subir la ropa
hasta la zona de las rodillas, y las mangas hasta los codos) <br>
<br>
•	También se recomienda acudir a la cita con poco maquillaje,
en caso de ser posible, ya que interesa no tener muchos
productos de elaboración química en la superficie del rostro. <br>
<br>
•	Se puede hacer acupuntura aunque estés tomando medicamentos. <br>

<br>
•	Aunque se puede hacer la acupuntura en areas del rostro que no han sido tratadas
en metodos como el botox, peeling quimico, microdermabracion o cirugia, se aconseja esperar
durante un periodo de 3 meses antes de iniciar tratamientos de acupuntura cosmética.<br><br>

<h1 class="off">Contraindicaciones</h1><br>

<br>
No recomendamos la acupuntura cosmética en casos de<br>
<br>
•	Migrañas fuertes y continuas<br>
•	Embarazos<br>
•	Hemofilia<br>
•	Presión arterial muy alta<br>
•	Personas que tengan puesto un marcapasos en el corazón<br>
•	Personas que hayan tomado anticoagulantes<br>
•	Problemas con la glándula pituitaria<br></b>
<br> -->
<!--
((((((((A course of approximately 10-12 treatments is recommended. Most
patients notice a difference after one or two treatments, however, the
effects become most noticeable and lasting after 6 treatments. Each
person responds differently, depending on the condition of their skin
and lifestyle prior to treatment. Following the initial course of
treatment, maintenance treatments of once a month can prolong the results
for five to ten years. )))))))<br> -->
