
<!-- <h1 class="off">¿En Qué Consiste la Acupuntura Facial?</h1><br> -->

En la primera cita, se realizará la anamnesis, basada en antecedentes y síntomas
del paciente. Esta constituye la base de la MTC y ya que cualquier síntoma o
condición subyacente es importante para el tratamiento global.<br>
<br>
Es necesario tener en cuenta que no solo se usan las agujas en el rostro sino
también en zonas distales (piernas y brazos). Después de la evaluación global,
procederemos al diagnóstico local del rostro. Esta parte se realizará según
diferente criterio.<br>

<br>


<h1 class="off">Diagnóstico</h1><br>
Este tratamiento tiende a reequilibrar, mejorando las funciones de sistemas
y tejidos del cuerpo, y se puede realizar de varias formas:<br><br>

a) Utilizando puntos de los cinco elementos<br>
b) A través de la estimulación de puntos generales<br>
c) Usando puntos distantes de los meridianos del rostro.<br>
d) Con los puntos de los cinco elementos, estimulando por
ejemplo: Pulmón (Piel), Hígado (Músculos), y/o Bazo
Páncreas (Tejido conjuntivo).<br>
<br>
Después de aplicar los criterios previos, se seleccionan los puntos específicos de inserción en los meridianos correspondientes. También se insertan agujas fuera de los meridianos, directamente sobre líneas de expresión, arrugas etc.
<br>

Se procede al tratamiento con agujas en las áreas del rostro,
cuello y otros partes del cuerpo:<br>
<br>

<%= image_tag("needle_depth", :class => "style_image4") %>

•	25-50 agujas muy finas son insertadas. <br><br>

•	Las agujas permanecen insertadas por un periodo de aproximadamente 30
minutos mientras el cliente puede relajarse y disfrutar de la terapia<br><br>

• A continuación, se quitan las agujas y se procede a realizar un masaje
con rodillos de jade que complementan el proceso previo y facilita
la circulación de la sangre en la zona. <br><br>

•	Se aplica un tonificante y luego aceites
naturales que son de origen ecológica (algunos provienen de nuestro
propio jardin).<br>

Las agujas que utilizamos son estériles y desechables. Las agujas del rostro son muy pequeñas - más pequeñas y finas comparadas con las que se usan en el resto del cuerpo. Usamos agujas de diferente tipo en el rostro, dependiendo de la zona de la inserción se usan agujas con o sin tubo.<br>
<br>
<!--
<<<<<fitoterapia paragraph>>> -->
Algunas personas cuando reciben el tratamiento pueden experimentar una
sensación de contracción (tonificación) mientras las agujas están insertadas,
aunque se puede notar no es en absoluto dolorosa.<br>
<br>
Al final de la sesión se ofrecen consejos personalizados de nutrición y
de la medicina herbal (la fitoterapia). El herbalismo chino es la profesión
médica más antigua del mundo que se remonta a más de 2500 años. Basado en el
mismo método diagnóstico como en la acupuntura tradicional, reestablece el
equilibrio y harmonía del cuerpo.



<!-- For intensive facial rejuvenation treatment, some people may experience a
sensation of tightness or pulling while the needles are in, although
nothing painful.  Performed correctly, you should be able to completely
relax during acupuncture treatment, and you may forget that the needles
are there. <br> -->
<br>
<br><br>

<%= image_tag("treatment1", :class => "style_image4") %>


<!-- <h1 class="off">Quien Realiza el Tratamiento?</h1>
<br>
Licenciado por la ucd de dublin en idiomas en el 99, y traductor y interprete
de profesión hasta que por culpa de una lesión crónicas decidi cambiar el rumbo
de mi vida y perseguir respuestas acerca de la salud. Embarque el cambio
estudiando en la reconocida escuela europea de osteopatia de Londres.<br>
<br>

Posteriormente decidí ampliar mas mis conocimientos cuando estudiando la medicina
tradicional china en sevilla. Mi particular interés y curiosidad en la zona del
rostro dentro de la MTC empezó cuando trataba a mis pacientes con acupuntura por
temas generales de salud, como por ejemplo los típicos dolores de espalda, asma,
deficienicas del sistema digestivo, la menopausia.<br>
<br>
Me di cuenta que cuando las síntomas se aliviara o desapareciera y la salud
general del paciente mejoraba, simultáneamente hubo cambios en el tono y brillo
del rostro, sin que hubiera ninguna aguja insertada en la zona del rostro durante
los tratamientos. Esto me hizo profundizar más y especializarme en esta terapia del
rostro dentro de la MTC... Lo estudié en la escuela de acupuntura de cork en Irlanda
y hoy en dia lo practico desde mi consulta aquí en simon verde.<br>
<br>
Lo que he aprendido a traves de mis experiencias practicas es que la acupuntura cosmetica
no solo se trata de la belleza sino de la salud y bien estar de la persona. Si nuestro
interior esta sano y equilibrado nuestra belleza interior will shine through.  La piel
es la capa mas externa del cuerpo convertiendose en el lugar mas importante en la manifestacion
de la belleza.  Cuando tratamos los problemas de la piel debemos tener en cuenta no solo
laz zonas locales del rostro sino tambien los distintos organos internos que lo influyen.
Un desequilibrio en el sistema energetico de los organos internos puede resultar en una
patología en la piel del rostro.  Cuando se corrigen los desquilibrios de forma local y
distal, se desaparecen las síntomas de la piel.  Los pacientes quieren ver resultados
inmediatos (sobre todo en la acupuntura cosmética) pero sin embargo tambien quieren que sea efectivo
a largo plazo.  Lo mejor de este tratamiento es que no solo verás una mejora visible
en el rostro sino tambien en la salud en general.<br><br> -->

<h1 class="off">Factores a Tener en Cuenta</h1><br>

•	<b>Algunos puntos se usan en la zona de las piernas/brazos por eso se
recomienda acudir a la cita con ropa adecuada (habrá que subir la ropa
hasta la zona de las rodillas, y las mangas hasta los codos) <br>
<br>
•	También se recomienda acudir a la cita con poco maquillaje,
en caso de ser posible, ya que interesa no tener muchos
productos de elaboración química en la superficie del rostro. <br>
<br>
•	Se puede hacer acupuntura aunque estés tomando medicamentos. <br>

<br>
•	Aunque se puede hacer la acupuntura en areas del rostro que no han sido tratadas
en metodos como el botox, peeling quimico, microdermabracion o cirugia, se aconseja esperar
durante un periodo de 3 meses antes de iniciar tratamientos de acupuntura cosmética.<br><br>

<h1 class="off">Contraindicaciones</h1><br>

<br>
No recomendamos la acupuntura cosmética en casos de<br>
<br>
•	Migrañas fuertes y continuas<br>
•	Embarazos<br>
•	Hemofilia<br>
•	Presión arterial muy alta</b><br>
<br>
<!--
((((((((A course of approximately 10-12 treatments is recommended. Most
patients notice a difference after one or two treatments, however, the
effects become most noticeable and lasting after 6 treatments. Each
person responds differently, depending on the condition of their skin
and lifestyle prior to treatment. Following the initial course of
treatment, maintenance treatments of once a month can prolong the results
for five to ten years. )))))))<br> -->
