
<h1 class="off">¿En Qué Consiste la Acupuntura Facial?</h1><br>

En la primera cita, se realizará la anamnesis, basada en antecedentes y síntomas del paciente. Esta constituye la base de la MTC y ya que cualquier síntoma o condición subyacente nos puede ayudar bastante con el tratamiento global.<br>
<br>
Es necesario tener en cuenta que no solo se usan las agujas en el rostro sino también en zonas distales (piernas y brazos). Después de la evaluación global, procederemos al diagnóstico local del rostro. Esta parte se realizará según diferente criterio.<br>

<br>

a) <b>Tez Oscura</b>- el negro es el color del riñón, el hígado produce una cara demacrada. Alteraciones en el hígado y el riñón producen que el cutis tenga una apariencia apagada.<br>
<br>
b) <b>Tez Púrpura</b>- deficiente circulación y los vasos que causa estancamiento de qi y sangre. El corazón dominando a la sangre.<br>
<br>
c) <b>Tez Pálida</b>, blanca que brilla indica deficiencia de sangre (xue), en corazón e Hígado, deficiencia de qi del Pulmón.<br>
<br>
d) <b>Tez Rojiza</b>, lustrosa,  excesivo fuego en el corazón que causa calor en la sangre. El corazón domina a la sangre.<br>
<br>



<br>
<b>Según la epidermis.</b><br><br>
Piel gruesa: aquella que posee un estrato córneo bien desarrollado.

<!-- La
suelen presenter personas expuestas de forma crónica al sol, ya que uno
de sus efectos es la hiperqueratosis (engrosamiento del estrato córneo). -->

Su aspecto es osco, los poros están abiertos y la apariencia de la
tez puede ser opaca amarillenta,
debido a la queratina.<br>
Piel Delgada: Posee una capa córnea fina, presenta una superficie uniforme
poros poco visible y de color sonrosado traslúcido.
<br>
<br>
<b>Según la dermis.</b><br><br>
La firmeza y la elasticidad y recuperación de la piel, dependen
básicamente de las características de la dermis. Se puede clasificar en:<br>
Piel tonificada: Es aquella que presenta tensión y elasticidad adecuada.<br>
Piel flácida: Aquella que ha perdido la elasticidad y la capacidad de
recuperación después de someterse a una deformación. Presenta éstas
características pieles envejecidas e incluso pieles jóvenes que han
sufrido un adelgazamiento brusco o ciertas enfermedades.<br>

<br>
<b>Según las secreciones.</b><br><br>
La emulsión epicutánea o manto hidrolipídico es la emulsión formada por el agua procedente de las glándulas sudoríparas y el ambiente, junto con los lípidos de las glándulas sebáceas y de la capa cornea. La película recubre el estrato corneo, ayudando al mantenimiento de la función de barrera.<br>




<!--

<br>
En la primera cita se hará una evaluación de su historial medico y
comentaremos acerca de las zonas del rostro que le gustaría mejorar... Se
categorizará su piel según la tabla de abajo.... <br>
<br>
Aparte de la evaluacion y diagnosis de la historia medica, también
evaluamos el rostro localmente siguiendo las leyes de la MTC.<br>



También se categorizará la piel del rostro según otros elemetos...

Se utilizan diferente criterios para clasificar la piel.<br> -->


<br>
<%= image_tag("SkinComparison", :class => "style_image") %><br>
*O/W = aceite en agua, W/O = agua en aceite
<br><br>
<h1 class="off">Diagnóstico</h1><br>
Este tratamiento tiende a reequilibrar, mejorando las funciones de sistemas
y tejidos del cuerpo, y se puede realizar de varias formas:<br><br>

a) Utilizando puntos de los cinco elementos<br>
b) A través de la estimulación de puntos generales<br>
c) Usando puntos distantes de los meridianos del rostro.<br>
d) Con los puntos de los cinco elementos, estimulando por
ejemplo: Pulmón (Piel), Hígado (Músculos), y/o Bazo
Páncreas (Tejido conjuntivo).<br>
<br>
Después de aplicar los criterios previos, se seleccionan los puntos específicos de inserción en los meridianos correspondientes. También se insertan agujas fuera de los meridianos, directamente sobre líneas de expresión, arrugas etc.
<br>

Se procede al tratamiento con agujas en las áreas del rostro,
cuello y otros partes del cuerpo:<br>
<br>

<%= image_tag("needle_depth", :class => "style_image4") %>

•	25-50 agujas muy finas son insertadas. <br><br>

•	Las agujas permanecen insertadas por un periodo de aproximadamente 30
minutos mientras el cliente puede relajarse y disfrutar de la terapia<br><br>

• A continuación, se quitan las agujas y se procede a realizar un masaje
con rodillos de jade que complementan el proceso previo y facilita
la circulación de la sangre en la zona. <br><br>

•	Se aplica un tonificante y luego aceites
naturales que son de origen ecológica (algunos provienen de nuestro
propio jardin).<br>

Las agujas que utilizamos son estériles y desechables. Las agujas del rostro son muy pequeñas - más pequeñas y finas comparadas con las que se usan en el resto del cuerpo. Usamos agujas de diferente tipo en el rostro, dependiendo de la zona de la inserción se usan agujas con o sin tubo.<br>
<br>
<!--
<<<<<fitoterapia paragraph>>> -->
Algunas personas cuando reciben el tratamiento pueden experimentar una
sensación de contracción (tonificación) mientras las agujas están insertadas,
aunque se puede notar no es en absoluto dolorosa.<br>
<br>
Al final de la sesión se ofrecen consejos personalizados de nutrición y de la medicina herbal (la fitoterapia). El herbalismo chino es la profesión médica más antigua del mundo que se remonta a más de 2500 años. Basado en el mismo método diagnóstico como en la acupuntura tradicional, reestablece el equilibrio y harmonía del cuerpo.



<!-- For intensive facial rejuvenation treatment, some people may experience a
sensation of tightness or pulling while the needles are in, although
nothing painful.  Performed correctly, you should be able to completely
relax during acupuncture treatment, and you may forget that the needles
are there. <br> -->
<br>


<%= image_tag("treatment1", :class => "style_image4") %><br>
<br>

<br><br>

<h1 class="off">Factores a Tener en Cuenta</h1><br>

•	<b>Algunos puntos se usan en la zona de las piernas/brazos por eso se
recomienda acudir a la cita con ropa adecuada (habrá que subir la ropa
hasta la zona de las rodillas, y las mangas hasta los codos) <br>
<br>
•	También se recomienda acudir a la cita con poco maquillaje,
en caso de ser posible, ya que interesa no tener muchos
productos de elaboración química en la superficie del rostro. <br>
<br>
•	Se puede hacer acupuntura aunque estés tomando medicamentos. <br>
<br>

<h1 class="off">Contraindicaciones</h1><br>

<br>
No recomendamos la acupuntura cosmética en casos de<br>
<br>
•	Migrañas fuertes y continuas<br>
•	Embarazos<br>
•	Hemofilia<br>
•	Presión arterial muy alta</b><br>
<br>
<!--
((((((((A course of approximately 10-12 treatments is recommended. Most
patients notice a difference after one or two treatments, however, the
effects become most noticeable and lasting after 6 treatments. Each
person responds differently, depending on the condition of their skin
and lifestyle prior to treatment. Following the initial course of
treatment, maintenance treatments of once a month can prolong the results
for five to ten years. )))))))<br> -->
