.red_text {
  color: red
}

.language {
  // text-align: right;
  // display:block;
  // float: right;
  padding-left: 1100px;
  color: white;

}

.style_image {
  border: 5px double #3A6028;
  box-shadow: 10px 10px 5px #888888;
}

.style_image2 {
  border: 5px double #3A6028;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 50%;
}

.style_image3 {
  border: 5px double #3A6028;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 5%;
  float: center;
  display: block;
  margin: auto;
  width: 40%;
}

.style_image4 {
  border: 5px double #3A6028;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 5%;
  float: right;
  // padding: 10px;
  display: block;
  margin: 20px 20px 20px 20px;
  // width: 40%;
}

.style_image5 {
  // display: inline;
  border: 5px double #3A6028;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 5%;
  float: left;
  // padding-right: 10px;
  margin-right: 20px;
  display: inline-block;
  // margin: auto;
  width: 40%;
}

.hidden {
	display: none;
}

body {
	margin: 0;
	padding: 0;
	text-align: justify;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	// background: #EEEFE4;
  background: #F7F8ED;
	background-image:url('background2.png');
	background-repeat:repeat-x;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;
 // font-family: Architects Daughter;
 font-size: 16px;
 // font-weight: bold;
}

#container
{
	display: block;
  height: auto;
  position: relative;
  width: 940;
}

#mainpic h1
{
	position:absolute;
text-align:right;
color:#F8FDEE;
font-size:40px;
color:#FFF;
left:15px;
top:5px;
}


#mainpic h2
{
position:absolute;
text-align:center;
color:black;
left:150px;
top:60px;
font-family:'Great Vibes';
font-size: 25px
}

#mainpic
{
// background-image:url('facial acupuncture 70pc.png');
background-repeat:no-repeat;
width:590px;
// height:580px;
display: block;
margin: 0 auto;
}



.off
{
// color:#black;
color:#866400;
font-family: Architects Daughter;
font-size: 24px;

}
.off2
{
color:#3A6028;
// color:#f10000;
font-family: Architects Daughter;
font-size: 50px;
text-align: center;
}

.off3
{
color:#000;
font-family: Great Vibes;
font-size: 30px;
text-align: center;
}

.off4
{
color:#black;
font-family: Helvetica;
font-size: 10px;
}

#menu
{
background-image:url('menu.png');
background-repeat:no-repeat;
width:1040px;
// width:1100px;
height:49px;
clear:both;
// float: center;
}

#content
{
width:880px;
height:auto;
// background-image: url("wood-texture.jpg");
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
// font-family: Arial;
font-family: 'PT Sans';
// font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
word-spacing: 2px;
}

#footer
{
width:inherit;
height:auto;
}

#footer h3 a,#footer h3 a:visited
{
display:inline;
text-align:center;
font-size:12px;
text-decoration:none;
color:#7198E1;
}


#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:1040px;
}

#menu li {
	list-style: none;
	padding: 0px;
	display: inline;

}

#menu a {
	float: left;
	// width means width of individual "buttons" on menu i.e. narrower to fit more options
	// width: 145px;
  width: 130px;
	height: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 17px;
	font-size: 15px;
}

#menu a:hover{
	color:#BEE399;
}

#content p
{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
}


html, body {
text-align: center;
}
p {text-align: left;}
