<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Architects Daughter">
          <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Great Vibes">


    <title>Acupuntura Simon Verde</title>
    <%= csrf_meta_tags %>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="container">
    		<div id="mainpic">
            	<h1><span class="off">Acupuntura Cosmetica</span></h1>
                <h2>Simon Verde</h2>
            </div>

            <div id="menu">
            	<ul>
                	<li class="menuitem"><a href="inicio">Inicio</a></li>
                    <li class="menuitem"><a href="sobre">Sobre Nosotros</a></li>
                    <li class="menuitem"><a href="acupuntura">La Acupuntura</a></li>
                    <li class="menuitem"><a href="tratamientos">Tratamientos</a></li>
                    <li class="menuitem"><a href="prensa">Prensa</a></li>
                    <li class="menuitem"><a href="new">Contacto</a></li>
                </ul>
            </div>

    		<div id="content">
            	<h2> </h2>
            	<p>&nbsp;</p>
               	<p>&nbsp;</p>

            	<%= yield %>
                <p>&nbsp;</p>
            	<p>&nbsp;</p>
            	<p>&nbsp;</p>
    <p>&nbsp;</p>

                <div id="footer"><h3><a href="http://www.bryantsmith.com">Acupuntura Simon Verde</a></div>
          </div>
       </div>






  </body>
</html>
